<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>Shangpinhui</title>
	<link rel="icon" href="./img/favicon.ico">

	<link rel="stylesheet" type="text/css" href="./css/all.css" />
	<link rel="stylesheet" type="text/css" href="./css/pages-JD-index.css" />
	<div th:include="common/head :: head"></div>
</head>

<body>
<!-- Header field -->
<!--Top of the page-->
<div th:include="common/header :: header"></div>


<!-- Product classification navigation -->
<div class="typeNav">
	<div class="py-container">
		<div class="yui3-g NavList">
			<div class="all-sorts-list">
				<div class="yui3-u Left all-sort">
					<h4>All product categories</h4>
				</div>
				<div class="sort">
					<div class="all-sort-list2">

						<!--th:if="${st.index}"
                        10 0 -9 0

                        -->
						<div th:each="category1,st: ${list}" th:class="${st.index == 0}?'item bo':'item'">
							<h3>
								<a th:href="@{http://list.gmall.com/list.html?category1Id={category1Id}(category1Id=${category1.categoryId})}" th:text="${category1.categoryName }" target="_blank">Mobile, digital, top-up</a>
							</h3>
							<div class="item-list clearfix">
								<div class="subitem">
									<dl class="fore" th:each="category2: ${category1.categoryChild}">
										<dt>
											<a th:href="@{http://list.gmall.com/list.html?category2Id={category2Id}(category2Id=${category2.categoryId})}" th:text="${category2.categoryName }" target="_blank">Recharge</a>
										</dt>
										<dd>
											<em th:each="category3: ${category2.categoryChild}">
												<a th:href="@{http://list.gmall.com/list.html?category3Id={category3Id}(category3Id=${category3.categoryId})}" th:text="${category3.categoryName }" target="_blank">Recharge</a>
											</em>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="yui3-u Center navArea">
				<ul class="nav">
					<li class="f-item">Clothing City</li>
					<li class="f-item">Beauty salon</li>
					<li class="f-item">Shangpinhui Supermarket</li>
					<li class="f-item">Global purchase</li>
					<li class="f-item">Flash sale</li>
					<li class="f-item">Group purchase</li>
					<li class="f-item">Interesting</li>
					<li class="f-item">
						<a href="http://activity.gmall.com/seckill.html" target="_blank">seckill</a>
					</li>
				</ul>
			</div>
			<div class="yui3-u Right"></div>
		</div>
		</div>
	</div>

	<!--列表-->
	<div class="py-container">
		<div class="yui3-g SortList">
			<div class="yui3-u Center banerArea">
				<!--banner轮播-->
				<div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="active item">
							<a href="http://baidu2.wypxj.com/">
								<img src="./img/banner1.jpg" />
							</a>
						</div>
						<div class="item">
							<a href="http://baidu2.wypxj.com/">
								<img src="./img/banner2.jpg" />
							</a>
						</div>
						<div class="item">
							<a href="http://baidu2.wypxj.com/">
								<img src="./img/banner3.jpg" />
							</a>

						</div>
					</div>
					<a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a>
					<a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
				</div>
			</div>
			<div class="yui3-u Right">
				<div class="news">
					<h4>
						<em class="fl">Shangpinhui Express</em>
						<span class="fr tip">More ></span>
					</h4>
					<div class="clearix"></div>
					<ul class="news-list unstyled">
						<li>
							<span class="bold">[Special]</span>Prepare for the beginning of the school season, all people buy digital at half price
						</li>
						<li>
							<span class="bold">[Announcement]</span> Preparing for the start of school season, all people buy digital at half price
						</li>
						<li>
							<span class="bold">[Special]</span>Prepare for the start of the school season, all people buy digital at half price
						</li>
						<li>
							<span class="bold">[Announcement]</span> Preparing for the start of school season, all people buy digital at half price
						</li>
						<li>
							<span class="bold">[Special]</span>Prepare for the start of the school season, all people buy digital at half price
						</li>
					</ul>
				</div>
				<ul class="yui3-g Lifeservice">
					<li class="yui3-u-1-4 life-item tab-item">
						<i class="list-item list-item-1"></i>
						<span class="service-intro">Call charges</span>
					</li>
					<li class="yui3-u-1-4 life-item tab-item">
						<i class="list-item list-item-2"></i>
						<span class="service-intro">ticket</span>
					</li>
					<li class="yui3-u-1-4 life-item tab-item">
						<i class="list-item list-item-3"></i>
						<span class="service-intro">Movie tickets</span>
					</li>
					<li class="yui3-u-1-4 life-item tab-item">
						<i class="list-item list-item-4"></i>
						<span class="service-intro">Games</span>
					</li>
					<li class="yui3-u-1-4 life-item notab-item">
						<i class="list-item list-item-5"></i>
						<span class="service-intro">lottery</span>
					</li>
					<li class="yui3-u-1-4 life-item notab-item">
						<i class="list-item list-item-6"></i>
						<span class="service-intro">gas station</span>
					</li>
					<li class="yui3-u-1-4 life-item notab-item">
						<i class="list-item list-item-7"></i>
						<span class="service-intro">Hotel</span>
					</li>
					<li class="yui3-u-1-4 life-item notab-item">
						<i class="list-item list-item-8"></i>
						<span class="service-intro">Train tickets</span>
					</li>
					<li class="yui3-u-1-4 life-item notab-item">
						<i class="list-item list-item-9"></i>
						<span class="service-intro">Crowdfunding</span>
					</li>
					<li class="yui3-u-1-4 life-item notab-item">
						<i class="list-item list-item-10"></i>
						<span class="service-intro">Finance management</span>
					</li>
					<li class="yui3-u-1-4 life-item notab-item">
						<i class="list-item list-item-11"></i>
						<span class="service-intro">Gift card</span>
					</li>
					<li class="yui3-u-1-4 life-item notab-item">
						<i class="list-item list-item-12"></i>
						<span class="service-intro">White bars</span>
					</li>
				</ul>
				<div class="life-item-content">
					<div class="life-detail">
						<i class="close">Close</i>
						<p>Charge recharge</p>
						<form action="" class="sui-form form-horizontal">
							Number:
							<input type="text" id="inputphoneNumber" placeholder="Enter your number" />
						</form>
						<button class="sui-btn btn-danger">Quick recharge</button>
					</div>
					<div class="life-detail">
						<i class="close">Close</i> the ticket
					</div>
					<div class="life-detail">
						<i class="close">Close</i> movie ticket
					</div>
					<div class="life-detail">
						<i class="close">Close</i> the game
					</div>
				</div>
				<div class="ads">
					<img src="./img/ad1.png" />
				</div>
			</div>
		</div>
	</div>
<!--Recommend-->
<div class="show">
	<div class="py-container">
		<ul class="yui3-g Recommend">
			<li class="yui3-u-1-6 clock">
				<div class="time">
					<img src="./img/clock.png" />
					<h3>Recommended today</h3>
				</div>
			</li>
			<li class="yui3-u-5-24">
				<a href="list.html" target="_blank">
					<img src="./img/today01.png" />
				</a>
			</li>
			<li class="yui3-u-5-24">
				<img src="./img/today02.png" />
			</li>
			<li class="yui3-u-5-24">
				<img src="./img/today03.png" />
			</li>
			<li class="yui3-u-5-24">
				<img src="./img/today04.png" />
			</li>
		</ul>
	</div>
</div>
<!-- Product ranking -->
<div class="py-container tabbox">
	<div class="py-container tab">
		<div class="tab-tit" style="text-align:center">
			<a href="javascript:;" class="on">
				<p class="img">
					<i></i>
				</p>
				<p class="text">Top seller ranking</p>
			</a>
			<a href="javascript:;">
				<p class="img">
					<i></i>
				</p>
				<p class="text">Special offer ranking</p>
			</a>
			<a href="javascript:;">
				<p class="img">
					<i></i>
				</p>
				<p class="text">New product ranking</p>
			</a>
		</div>

	</div>
	<div class="content">
		<ul>
			<li style="display:block;">
				<div class="img-item">
					<p class="tab-pic">
<span>
							<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
			</li>
			<li>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/2.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
							<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/2.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>

			</li>
			<li>
				<div class="img-item">
					<p class="tab-pic">
							<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>
				<div class="img-item">
					<p class="tab-pic">
<span>
<a href="#">
<img src="./img/1.jpg" />
</a>
</span>
					</p>
					<div class="tab-info">
						<div class="info-title">
<span>
<a href="#">[Official website price drop by 1100] Apple iPhone 8 Plus 256GB silver Mobile Unicom Telecom 4G mobile phone</a>
</span>
						</div>
						<p class="info-price">Deposit: ¥100.00</p>
					</div>
				</div>

			</li>
		</ul>
	</div>
</div>
<!--Like-->
<div class="like">
	<div class="py-container">
		<div class="title">
			<h3 class="fl">Guess you like it</h3>
			<b class="border"></b>
			<a href="javascript:;" class="fr tip changeBnt" id="xxlChg">
				<i></i>Change it</a>
		</div>
		<div class="bd">
			<ul class="clearfix yui3-g Favourate picLB" id="picLBxxl">
				<li class="yui3-u-1-6">
					<dl class="picDl huozhe">
						<dd>
							<a href="" class="pic">
								<img src="./img/like_02.png" alt="" />
							</a>
							<div class="like-text">
								<p>Sunshine beauty bag, new style shoulder bag, female bag, fashionable mother-and-child bag, four-piece female</p>
								<h3>¥116.00</h3>
							</div>
						</dd>
						<dd>
							<a href="" class="pic">
								<img src="./img/like_01.png" alt="" />
							</a>
							<div class="like-text">
								<p>Aishida 30CM wok non-stick pan NWG8330E induction cooker frying</p>
								<h3>¥116.00</h3>
							</div>
						</dd>
					</dl>
				</li>
				<li class="yui3-u-1-6">
					<dl class="picDl jilu">
						<dd>
							<a href="" class="pic">
								<img src="./img/like_03.png" alt="" />
							</a>
							<div class="like-text">
								<p>Aishida 30CM wok non-stick pan NWG8330E induction cooker frying</p>
								<h3>¥116.00</h3>
							</div>
						</dd>
						<dd>
							<a href="" class="pic">
								<img src="./img/like_02.png" alt="" />
							</a>
							<div class="like-text">
								<p>Sunshine beauty bag, new style shoulder bag, female bag, fashionable mother-and-child bag, four-piece female</p>
								<h3>¥116.00</h3>
							</div>
						</dd>
					</dl>
				</li>
				<li class="yui3-u-1-6">
					<dl class="picDl tuhua">
						<dd>
							<a href="" class="pic">
								<img src="./img/like_01.png" alt="" />
							</a>
							<div class="like-text">
								<p>Jabra </p>
								<p>(jabra) BOOSI Strike</p>
								<h3>¥236.00</h3>
							</div>
						</dd>
						<dd>
							<a href="" class="pic">
								<img nsrc="../../assets/img/like_02.png" alt="" />
							</a>
							<div class="like-text">
								<p>Samsung (G5500)</p>
								<p>Mobile Unicom Dual Netcom</p>
								<h3>¥566.00</h3>
							</div>
						</dd>
					</dl>
				</li>
				<li class="yui3-u-1-6">
					<dl class="picDl huozhe">
						<dd>
							<a href="" class="pic">
								<img src="./img/like_02.png" alt="" />
							</a>
							<div class="like-text">
								<p>Sunshine beauty bag, new style shoulder bag, female bag, fashionable mother-and-child bag, four-piece female</p>
								<h3>¥116.00</h3>
							</div>
						</dd>
						<dd>
							<a href="" class="pic">
								<img src="./img/like_01.png" alt="" />
							</a>
							<div class="like-text">
								<p>Aishida 30CM wok non-stick pan NWG8330E induction cooker frying</p>
								<h3>¥116.00</h3>
							</div>
						</dd>
					</dl>
				</li>
				<li class="yui3-u-1-6">
					<dl class="picDl jilu">
						<dd>
							<a href="http://sc.chinaz.com/" class="pic">
								<img src="./img/like_03.png" alt="" />
							</a>
							<div class="like-text">
								<p>Jabra </p>
								<p>(jabra) BOOSI Strike</p>
								<h3>¥236.00</h3>
							</div>
						</dd>
						<dd>
							<a href="http://sc.chinaz.com/" class="pic">
								<img src="./img/like_02.png" alt="" />
							</a>
							<div class="like-text">
								<p>Op</p>
								<p>JYLZ08 Panel Light Panel Light Aluminum</p>
								<h3>¥456.00</h3>
							</div>
						</dd>
					</dl>
				</li>
				<li class="yui3-u-1-6">
					<dl class="picDl tuhua">
						<dd>
							<a href="http://sc.chinaz.com/" class="pic">
								<img src="./img/like_01.png" alt="" />
							</a>
							<div class="like-text">
								<p>Samsung (G5500)</p>
								<p>Mobile Unicom Dual Netcom</p>
								<h3>¥566.00</h3>
							</div>
						</dd>
						<dd>
							<a href="http://sc.chinaz.com/" class="pic">
								<img nsrc="../../assets/img/like_02.png" alt="" />
							</a>
							<div class="like-text">
								<p>Korea Expected Firming Moisturizing Essence 400ml</p>
								<h3>¥896.00</h3>
							</div>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--Floor-->
<div id="floor-1" class="floor">
	<div class="py-container">
		<div class="title floors">
			<h3 class="fl">Household appliances</h3>
			<div class="fr">
				<ul class="sui-nav nav-tabs">
					<li class="active">
						<a href="#tab1" data-toggle="tab">Popular</a>
					</li>
					<li>
						<a href="#tab2" data-toggle="tab">Home appliances</a>
					</li>
					<li>
						<a href="#tab3" data-toggle="tab">Household appliances</a>
					</li>
					<li>
						<a href="#tab4" data-toggle="tab">Kitchen appliances</a>
					</li>
					<li>
						<a href="#tab5" data-toggle="tab">Seasonal appliances</a>
					</li>
					<li>
						<a href="#tab6" data-toggle="tab">Air/purification water</a>
					</li>
					<li>
						<a href="#tab7" data-toggle="tab">High-end appliances</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix tab-content floor-content">
			<div id="tab1" class="tab-pane active">
				<div class="yui3-g Floor-1">
					<div class="yui3-u Left blockgary">
						<ul class="jd-list">
							<li>Energy-saving subsidies</li>
							<li>4K TV</li>
							<li>Air purifier</li>
							<li>IH rice cooker</li>
							<li>Drum washing machine</li>
							<li>Electric water heater</li>
						</ul>
						<img src="./img/floor-1-1.png" />
					</div>
					<div class="yui3-u row-330 floorBanner">
						<div id="floorCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
							<ol class="carousel-indicators">
								<li data-target="#floorCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#floorCarousel" data-slide-to="1"></li>
								<li data-target="#floorCarousel" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="active item">
									<img src="./img/floor-1-b01.png">
								</div>
								<div class="item">
									<img src="./img/floor-1-b02.png">
								</div>
								<div class="item">
									<img src="./img/floor-1-b03.png">
								</div>
							</div>
							<a href="#floorCarousel" data-slide="prev" class="carousel-control left">‹</a>
							<a href="#floorCarousel" data-slide="next" class="carousel-control right">›</a>
						</div>
					</div>
					<div class="yui3-u row-220 split">
						<span class="floor-x-line"></span>
						<div class="floor-conver-pit">
							<img src="./img/floor-1-2.png" />
						</div>
						<div class="floor-conver-pit">
							<img src="./img/floor-1-3.png" />
						</div>
					</div>
					<div class="yui3-u row-218 split">
						<img src="./img/floor-1-4.png" />
					</div>
					<div class="yui3-u row-220 split">
						<span class="floor-x-line"></span>
						<div class="floor-conver-pit">
							<img src="./img/floor-1-5.png" />
						</div>
						<div class="floor-conver-pit">
							<img src="./img/floor-1-6.png" />
						</div>
					</div>
				</div>
			</div>
			<div id="tab2" class="tab-pane">
				<p>The second one</p>
			</div>
			<div id="tab3" class="tab-pane">
				<p>The third</p>
			</div>
			<div id="tab4" class="tab-pane">
				<p>No. 4</p>
			</div>
			<div id="tab5" class="tab-pane">
				<p>No. 5</p>
			</div>
			<div id="tab6" class="tab-pane">
				<p>No. 6</p>
			</div>
			<div id="tab7" class="tab-pane">
				<p>No. 7</p>
			</div>
		</div>
	</div>
</div>
<div id="floor-2" class="floor">
	<div class="py-container">
		<div class="title floors">
			<h3 class="fl">Mobile communication</h3>
			<div class="fr">
				<ul class="sui-nav nav-tabs">
					<li class="active">
						<a href="#tab8" data-toggle="tab">Popular</a>
					</li>
					<li>
						<a href="#tab9" data-toggle="tab">Quality optimization</a>
					</li>
					<li>
						<a href="#tab10" data-toggle="tab">New machine early adopters</a>
					</li>
					<li>
						<a href="#tab11" data-toggle="tab">High cost performance</a>
					</li>
					<li>
						<a href="#tab12" data-toggle="tab">Contract machine</a>
					</li>
					<li>
						<a href="#tab13" data-toggle="tab">Mobile card</a>
					</li>
					<li>
						<a href="#tab14" data-toggle="tab">Mobile phone accessories</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix tab-content floor-content">
			<div id="tab8" class="tab-pane active">
				<div class="yui3-g Floor-1">
					<div class="yui3-u Left blockgary">
						<ul class="jd-list">
							<li>Energy-saving subsidies</li>
							<li>4K TV</li>
							<li>Air purifier</li>
							<li>IH rice cooker</li>
							<li>Drum washing machine</li>
							<li>Electric water heater</li>
						</ul>
						<img src="./img/floor-1-1.png" />
					</div>
					<div class="yui3-u row-330 floorBanner">
						<div id="floorCarousell" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
							<ol class="carousel-indicators">
								<li data-target="#floorCarousell" data-slide-to="0" class="active"></li>
								<li data-target="#floorCarousell" data-slide-to="1"></li>
								<li data-target="#floorCarousell" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="active item">
									<img src="./img/floor-1-b01.png">
								</div>
								<div class="item">
									<img src="./img/floor-1-b02.png">
								</div>
								<div class="item">
									<img src="./img/floor-1-b03.png">
								</div>
							</div>
							<a href="#floorCarousell" data-slide="prev" class="carousel-control left">‹</a>
							<a href="#floorCarousell" data-slide="next" class="carousel-control right">›</a>
						</div>
					</div>
					<div class="yui3-u row-220 split">
						<span class="floor-x-line"></span>
						<div class="floor-conver-pit">
							<img src="./img/floor-1-2.png" />
						</div>
						<div class="floor-conver-pit">
							<img src="./img/floor-1-3.png" />
						</div>
					</div>
					<div class="yui3-u row-218 split">
						<img src="./img/floor-1-4.png" />
					</div>
					<div class="yui3-u row-220 split">
						<span class="floor-x-line"></span>
						<div class="floor-conver-pit">
							<img src="./img/floor-1-5.png" />
						</div>
						<div class="floor-conver-pit">
							<img src="./img/floor-1-6.png" />
						</div>
					</div>
				</div>
			</div>
			<div id="tab2" class="tab-pane">
				<p>The second one</p>
			</div>
			<div id="tab9" class="tab-pane">
				<p>The third</p>
			</div>
			<div id="tab10" class="tab-pane">
				<p>No. 4</p>
			</div>
			<div id="tab11" class="tab-pane">
				<p>No. 5</p>
			</div>
			<div id="tab12" class="tab-pane">
				<p>No. 6</p>
			</div>
			<div id="tab13" class="tab-pane">
				<p>No. 7</p>
			</div>
			<div id="tab14" class="tab-pane">
				<p>No. 8</p>
				</div>
			</div>
		</div>
	</div>
<!--Trademark-->
<div class="brand">
	<div class="py-container">
		<ul class="Brand-list blockgary">
			<li class="Brand-item">
				<img src="./img/brand_21.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_03.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_05.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_07.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_09.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_11.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_13.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_15.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_17.png" />
			</li>
			<li class="Brand-item">
				<img src="./img/brand_19.png" />
			</li>
		</ul>
	</div>
</div>
<!-- Bottom column -->
<!--Bottom of the page-->
<div class="clearfix footer">
	<div class="py-container">
		<div class="footlink">
			<div class="clearfix Mod-list">
				<div class="yui3-g">
					<div class="yui3-u-1-6">
						<h4>Shopping Guide</h4>
						<ul class="unstyled">
							<li>Shopping process</li>
							<li>Member Introduction</li>
							<li>Life travel/group purchase</li>
							<li>Frequently asked questions</li>
							<li>Shopping guide</li>
						</ul>

					</div>
					<div class="yui3-u-1-6">
						<h4>Delivery method</h4>
						<ul class="unstyled">
							<li>Home pick up</li>
							<li>211 Limited Time Up</li>
							<li>Distribution service inquiry</li>
							<li>Delivery fee charging standard</li>
							<li>Overseas delivery</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Payment method</h4>
						<ul class="unstyled">
							<li>Cash on delivery</li>
							<li>Online payment</li>
							<li>Instalment payment</li>
							<li>Post office remittance</li>
							<li>Company transfer</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>After-sales service</h4>
						<ul class="unstyled">
							<li>After-sales policy</li>
							<li>Price protection</li>
							<li>Refund instructions</li>
							<li>Repair/return/exchange</li>
							<li>Cancel order</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Special Services</h4>
						<ul class="unstyled">
							<li>Treasure Island</li>
							<li>DIY installation</li>
							<li>Extended Warranty Service</li>
							<li>Shangpinhui E Card</li>
							<li>Shangpinhui Communication</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Help Center</h4>
						<img src="./img/wx_cz.jpg">
					</div>
				</div>
				</div>
			<div class="Mod-copyright">
				<ul class="helpLink">
					<li>About us
						<span class="space"></span>
					</li>
					<li>Contact us
						<span class="space"></span>
					</li>
					<li>About us
						<span class="space"></span>
					</li>
					<li>Businesses settled in
						<span class="space"></span>
					</li>
					<li>Marketing Center
						<span class="space"></span>
					</li>
					<li>Friendly link
						<span class="space"></span>
					</li>
					<li>About us
						<span class="space"></span>
					</li>
					<li>Marketing Center
						<span class="space"></span>
					</li>
					<li>Friendly link
						<span class="space"></span>
					</li>
					<li>About us</li>
				</ul>
				<p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
				<p>Beijing ICP No. 19006430</p>
			</div>
		</div>
	</div>
</div>
<!--The bottom of the pageEND-->
<!-- Floor location -->
<div id="floor-index" class="floor-index">
	<ul>
		<li>
			<a class="num" href="javascript:;" style="display: none;">1F</a>
			<a class="word" href="javascript;;" style="display: block;">Household appliances</a>
		</li>
		<li>
			<a class="num" href="javascript:;" style="display: none;">2F</a>
			<a class="word" href="javascript;;" style="display: block;">Mobile communication</a>
		</li>
		<li>
			<a class="num" href="javascript:;" style="display: none;">3F</a>
			<a class="word" href="javascript;;" style="display: block;">Computer office</a>
		</li>
		<li>
			<a class="num" href="javascript:;" style="display: none;">4F</a>
			<a class="word" href="javascript;;" style="display: block;">home furniture</a>
		</li>
		<li>
			<a class="num" href="javascript:;" style="display: none;">5F</a>
			<a class="word" href="javascript;;" style="display: block;">Sports outdoor</a>
		</li>
	</ul>
	</div>
<!-- Basic js library -->
<!-- Shopping cart -->
<!--Start of sidebar panel-->
<div class="J-global-toolbar">
	<div class="toolbar-wrap J-wrap">
		<div class="toolbar">
			<div class="toolbar-panels J-panel">

				<!-- Shopping cart -->
				<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
					<h3 class="tbar-panel-header J-panel-header">
						<a href="" class="title">
							<i></i>
							<em class="title">Shopping cart</em>
						</a>
						<span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('cart');"></span>
					</h3>
					<div class="tbar-panel-main">
						<div class="tbar-panel-content J-panel-content">
							<div id="J-cart-tips" class="tbar-tipbox hide">
								<div class="tip-inner">
									<span class="tip-text">have not logged in yet, the product will be saved after logging in</span>
									<a href="#none" class="tip-btn J-login">Log in</a>
								</div>
							</div>
							<div id="J-cart-render">
								<!-- List -->
								<div id="cart-list" class="tbar-cart-list">
								</div>
							</div>
						</div>
					</div>
					<!-- Subtotal -->
					<div id="cart-footer" class="tbar-panel-footer J-panel-footer">
						<div class="tbar-checkout">
							<div class="jtc-number">
								<strong class="J-count" id="cart-number">0</strong> items </div>
							<div class="jtc-sum"> Total:
								<strong class="J-total" id="cart-sum">¥0</strong>
							</div>
							<a class="jtc-btn J-btn" href="#none" target="_blank">Go to the shopping cart for settlement</a>
						</div>
					</div>
				</div>

				<!-- My attention -->
				<div style="visibility: hidden;" data-name="follow" class="J-content toolbar-panel tbar-panel-follow">
					<h3 class="tbar-panel-header J-panel-header">
						<a href="#" target="_blank" class="title">
							<i></i>
							<em class="title">My following</em>
						</a>
						<span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('follow');"></span>
					</h3>
					<div class="tbar-panel-main">
						<div class="tbar-panel-content J-panel-content">
							<div class="tbar-tipbox2">
								<div class="tip-inner">
									<i class="i-loading"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="tbar-panel-footer J-panel-footer"></div>
				</div>

				<!-- My footprint -->
				<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
					<h3 class="tbar-panel-header J-panel-header">
						<a href="#" target="_blank" class="title">
							<i></i>
							<em class="title">My tracks</em>
						</a>
						<span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('history');"></span>
					</h3>
					<div class="tbar-panel-main">
						<div class="tbar-panel-content J-panel-content">
							<div class="jt-history-wrap">
								<ul>
									<!--<li class="jth-item">
                                    <a href="#" class="img-wrap"> <img src="../../.../portal/img/like_03.png" height="100" width="100" /> </a>
                                    <a class="add-cart-button" href="#" target="_blank">Add to cart</a>
                                    <a href="#" target="_blank" class="price">￥498.00</a>
                                    </li>
                                    <li class="jth-item">
                                    <a href="#" class="img-wrap"> <img src="../../../portal/img/like_02.png" height="100" width="100" />< /a>
                                    <a class="add-cart-button" href="#" target="_blank">Add to cart</a>
                                    <a href="#" target="_blank" class="price">￥498.00</a>
                                    </li>-->
								</ul>
								<a href="#" class="history-bottom-more" target="_blank">View more footprint products &gt;&gt;</a>
							</div>
						</div>
					</div>
					<div class="tbar-panel-footer J-panel-footer"></div>
				</div>

			</div>

			<div class="toolbar-header"></div>

			<!-- Sidebar button -->
			<div class="toolbar-tabs J-tab">
				<div onclick="cartPanelView.tabItemClick('cart')" class="toolbar-tab tbar-tab-cart" data="shopping cart" tag="cart">
					<i class="tab-ico"></i>
					<em class="tab-text"></em>
					<span class="tab-sub J-count "id="tab-sub-cart-count">0</span>
				</div>
				<div onclick="cartPanelView.tabItemClick('follow')" class="toolbar-tab tbar-tab-follow" data="my attention" tag="follow">
					<i class="tab-ico"></i>
					<em class="tab-text"></em>
					<span class="tab-sub J-count hide">0</span>
				</div>
				<div onclick="cartPanelView.tabItemClick('history')" class="toolbar-tab tbar-tab-history" data="My footprint" tag="history">
					<i class="tab-ico"></i>
					<em class="tab-text"></em>
					<span class="tab-sub J-count hide">0</span>
				</div>
			</div>

			<div class="toolbar-footer">
				<div class="toolbar-tab tbar-tab-top">
					<a href="#">
						<i class="tab-ico "></i>
						<em class="footer-tab-text">Top</em>
					</a>
				</div>
				<div class="toolbar-tab tbar-tab-feedback">
					<a href="#" target="_blank">
						<i class="tab-ico"></i>
						<em class="footer-tab-text ">Feedback</em>
					</a>
				</div>
				</div>

				<div class="toolbar-mini"></div>

			</div>

			<div id="J-toolbar-load-hook"></div>

		</div>
	</div>

<!--	<script type="text/javascript" src="/js/all.js"></script>-->
	<script type="text/javascript" src="/js/pages/index.js"></script>
</body>

</html>
