<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<title>我的订单</title>
		<link rel="icon" href="./img/favicon.ico">

		<link rel="stylesheet" type="text/css" href="/css/all.css" />
		<link rel="stylesheet" type="text/css" href="/css/pages-myOrder.css" />

		<div th:include="common/head :: head"></div>
	</head>

	<body>
	<!-- 头部栏位 -->
	<!--页面顶部-->
	<div th:include="common/header :: header"></div>

	<!--header-->
	<div id="account" >
		<div class="py-container">
			<div class="yui3-g home">
				<!--左侧列表-->
				<div class="yui3-u-1-6 list">
					<dl>
						<dt><i>·</i> 订单中心</dt>
						<dd>我的订单</dd>
						<dd>团购订单</dd>
						<dd>本地生活订单 </dd>
						<dd>我的预售</dd>
						<dd>评价晒单</dd>
						<dd>取消订单记录</dd>
					</dl>
					<dl>
						<dt><i>·</i> 关注中心</dt>
						<dd>关注的商品 </dd>
						<dd>关注的店铺</dd>
						<dd>关注的专辑 </dd>
						<dd>关注的品牌</dd>
						<dd>关注的活动 </dd>
						<dd>浏览历史</dd>
					</dl>
					<dl>
						<dt><i>·</i> 特色业务</dt>
						<dd>我的营业厅 </dd>
						<dd>京东通信 </dd>
						<dd>定期送 </dd>
						<dd>京东代下单</dd>
						<dd>我的回收单 </dd>
						<dd>节能补贴</dd>
						<dd>医药服务 </dd>
						<dd>流量加油站 </dd>
						<dd>黄金托管</dd>
					</dl>
					<dl>
						<dt><i>·</i> 客户服务</dt>
						<dd>返修退换货 </dd>
						<dd>价格保护 </dd>
						<dd>意见建议 </dd>
						<dd>购买咨询 </dd>
						<dd>交易纠纷 </dd>
						<dd>我的发票</dd>
					</dl>
					<dl>
						<dt><i>·</i> 设置</dt>
						<dd>个人信息 </dd>
						<dd>收货地址 </dd>
					</dl>
				</div>
				<!--右侧主内容-->
				<div class="yui3-u-5-6 body">
					<div class="order">
						<div class="mt">
							<span class="fl"><strong>我的订单</strong></span>
						</div>
					</div>

					<div class="order-detail" id="item">

						<div class="ever">
							<div class="tab-content">
								<div class="chosetype">
									<table class="sui-table table-bordered-simple">
										<thead>
										<tr>
											<th width="29%">Products</th>
											<th width="31%">Order details</th>
											<th width="13%">Consignee</th>
											<th>Amount</th>
											<th>Status</th>
											<th>Operation</th>
										</tr>
										</thead>
										</tbody>
									</table>
								</div>
								<div id="all" class="tab-pane active">
									<div class="orders">


										<table class="sui-table table-bordered" v-for="order in data" :key="order.id">
											<thead>
											<tr>
												<th colspan="5">
<span class="ordertitle">
{{order.createTime}}　Order number: {{order.id}} Order amount: {{order.totalAmount}}
<span class="pull-right delete"><img src="./img/delete.png"/></span>
</span>
												</th>
											</tr>
											</thead>
											<tbody>
											<tr v-for="(detail,index) in order.orderDetailList" :key="detail.id" v-if="index == 0">
												<td width="60%">
													<div class="typographic"><img :src="detail.imgUrl" style="height: 100px;"/>
														<a href="#" class="block-text">{{detail.skuName}}</a><span>x{{detail.skuNum }}</span>
														<ul class="unstyled list-inline">
															<li>Apply for after-sales service</li>
														</ul>
													</div>
												</td>
												<td :rowspan="order.orderDetailList.length" width="8%" class="center">{{order.consignee}}</td>
												<td :rowspan="order.orderDetailList.length" width="13%" class="center">
													<ul class="unstyled">
														<li>Total Amount ¥{{order.totalAmount}}</li>
														<li>Online payment</li>

													</ul>
												</td>
												<td :rowspan="order.orderDetailList.length" width="8%" class="center">
													<a href="#" class="btn">{{order.orderStatusName}} </a>
												</td>
												<td :rowspan="order.orderDetailList.length" width="13%" class="center">
													<ul class="unstyled">
														<li>
															<a href="mycomment.html" target="_blank">Review|Post a list</a>
														</li>

													</ul>
												</td>
											</tr>
											<tr v-for="(detail,index) in order.orderDetailList" :key="detail.id" v-if="index> 0">
												<td width="50%">
													<div class="typographic"><img :src="detail.imgUrl" style="height: 100px;"/>
														<a href="#" class="block-text">{{detail.skuName}}</a><span>x{{detail.skuNum }}</span>
														<!--<ul class="unstyled list-inline">-->
														<!--<li>Apply for after-sales service</li>-->
														<!--</ul>-->
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>

									<div class="choose-order">
										<div class="sui-pagination pagination-large top-pages">
											<ul>
												<li class="prev disabled"
													:class="{disabled: pageNo == 1}"
													@click.prevent="fetchData(pageNo-1)"
												>
													<a href="javascript:">«Previous page</a>
												</li>
												<li
														v-for="page in pages"
														:key="page"
														:class="{active: pageNo == page, disabled: pageNo == page}"
														:title="'第'+page+'页'"
														@click.prevent="fetchData(page)"
												>
													<a href="javascript:">{{ page }}</a>
												</li>

												<li class="prev disabled"
													:class="{disabled: pageNo == pages}"
													@click.prevent="fetchData(pageNo + 1)"
												>
													<a href="javascript:">Next page»</a>
												</li>
											</ul>
											<div>
												<span>&nbsp;&nbsp;&nbsp;&nbsp;Total {{pages}} pages&nbsp;</span>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>

								</div>
							</div>
						</div>
					</div>

					<div class="order">
						<div class="mt">
							<span class="fl"><strong>Guess you like it</strong></span>
						</div>
					</div>
					<div class="like-list">
						<ul class="yui3-g">
							<li class="yui3-u-1-4">
								<div class="list-wrap">
									<div class="p-img">
										<img src="./img/_/itemlike01.png" />
									</div>
									<div class="attr">
										<em>DELL Dell Ins 15MR-7528SS 15-inch silver notebook</em>
									</div>
									<div class="price">
										<strong>
											<em>¥</em>
											<i>3699.00</i>
										</strong>
									</div>
									<div class="commit">
										<i class="command">Already reviewed by 6 people</i>
									</div>
								</div>
							</li>
							<li class="yui3-u-1-4">
								<div class="list-wrap">
									<div class="p-img">
										<img src="./img/_/itemlike02.png" />
									</div>
									<div class="attr">
										<em>Apple Apple iPhone 6s/6s Plus 16G 64G 128G</em>
										</div>
										<div class="price">
											<strong>
											<em>¥</em>
											<i>4388.00</i>
										</strong>
										</div>
									<div class="commit">
										<i class="command">700 people commented</i>
									</div>
								</div>
							</li>
							<li class="yui3-u-1-4">
								<div class="list-wrap">
									<div class="p-img">
										<img src="./img/_/itemlike03.png" />
									</div>
									<div class="attr">
										<em>DELL Dell Ins 15MR-7528SS 15-inch silver notebook</em>
									</div>
									<div class="price">
										<strong>
											<em>¥</em>
											<i>4088.00</i>
										</strong>
									</div>
									<div class="commit">
										<i class="command">700 people commented</i>
									</div>
								</div>
							</li>
							<li class="yui3-u-1-4">
								<div class="list-wrap">
									<div class="p-img">
										<img src="./img/_/itemlike04.png" />
									</div>
									<div class="attr">
										<em>DELL Dell Ins 15MR-7528SS 15-inch silver notebook</em>
									</div>
									<div class="price">
										<strong>
											<em>¥</em>
											<i>4088.00</i>
										</strong>
									</div>
									<div class="commit">
										<i class="command">700 people commented</i>
									</div>
								</div>
							</li>

						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Bottom column -->
	<!--Bottom of the page-->
	<div class="clearfix footer">
		<div class="py-container">
			<div class="footlink">
				<div class="clearfix Mod-list">
					<div class="yui3-g">
						<div class="yui3-u-1-6">
							<h4>Shopping Guide</h4>
							<ul class="unstyled">
								<li>Shopping process</li>
								<li>Member Introduction</li>
								<li>Life travel/group purchase</li>
								<li>Frequently asked questions</li>
								<li>Shopping guide</li>
							</ul>

						</div>
						<div class="yui3-u-1-6">
							<h4>Delivery method</h4>
							<ul class="unstyled">
								<li>Home pick up</li>
								<li>211 Limited Time Up</li>
								<li>Distribution service inquiry</li>
								<li>Delivery fee charging standard</li>
								<li>Overseas delivery</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Payment method</h4>
						<ul class="unstyled">
							<li>Cash on delivery</li>
							<li>Online payment</li>
							<li>Instalment payment</li>
							<li>Post office remittance</li>
							<li>Company transfer</li>
						</ul>
					</div>
						<div class="yui3-u-1-6">
							<h4>After-sales service</h4>
							<ul class="unstyled">
								<li>After-sales policy</li>
								<li>Price protection</li>
								<li>Refund instructions</li>
								<li>Repair/return/exchange</li>
								<li>Cancel order</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>Special Services</h4>
							<ul class="unstyled">
								<li>Treasure Island</li>
								<li>DIY installation</li>
								<li>Extended Warranty Service</li>
								<li>Shangpinhui E Card</li>
								<li>Shangpinhui Communication</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>Help Center</h4>
							<img src="./img/wx_cz.jpg">
						</div>
					</div>
				</div>
				<div class="Mod-copyright">
					<ul class="helpLink">
						<li>About us<span class="space"></span></li>
						<li>Contact us<span class="space"></span></li>
						<li>About us<span class="space"></span></li>
						<li>Businesses settled in<span class="space"></span></li>
						<li>Marketing Center<span class="space"></span></li>
						<li>Friendly link<span class="space"></span></li>
						<li>About us<span class="space"></span></li>
						<li>Marketing Center<span class="space"></span></li>
						<li>Friendly link<span class="space"></span></li>
						<li>About us</li>
					</ul>
					<p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
					<p>Beijing ICP No. 19006430</p>
				</div>
			</div>
		</div>
	</div>
	<!--Bottom of the pageEND-->
	<script src="/js/api/trade.js"></script>
	<script th:inline="javascript">
		var item = new Vue({
			el:'#item',

		data: {
            pageNo: 1,
            pageSize:10,
            pages: 1,
            data:{}
		},

        created () {
            this.fetchData(1)
        },
        methods: {
            fetchData(pageNo = 1) {
                if(pageNo < 1) pageNo = 1
                if(pageNo >= this.pages) pageNo = this.pages

                trade.getOrderPageList(pageNo,this.pageSize).then(response => {
                    if (response.data.code == 200) {
                        this.data = response.data.data.records
                        this.pages = response.data.data.pages
                    }
                })
            },

            gotoPage(page) {
                trade.getOrderPageList(page,5).then(response => {
                    this.data = response.data.data
                })
            }
        }
	})
</script>


</body>

</html>
