<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<metahttp-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>Shangpinhui settlement page</title>
	<link rel="stylesheet" type="text/css" href="/css/all.css" />
	<link rel="stylesheet" type="text/css" href="/css/pages-getOrderInfo.css" />
	<div th:include="common/head :: head"></div>
</head>

<body>
<!--head-->
<!-- Header field -->
<div th:include="common/header :: header"></div>


<div class="cart py-container" id="item">
	<!--Main content-->
	<div class="checkout py-container">
		<div class="checkout-tit">
			<h4 class="tit-txt">Fill in and verify the order information</h4>
		</div>
		<div class="checkout-steps">
			<!--Recipient Information-->
			<div class="step-tit">
				<h5>Recipient information<span></span></h5>
			</div>
			<div class="step-cont">
				<div class="addressInfo">
					<ul class="addr-detail">
						<li class="addr-item">

							<div class="choose-address" v-for="userAddress in userAddressList" :key="userAddress.id">
								<div class="con name" :class="{'selected':userAddress.selected == 1}" @click="selectAddress(userAddress.id)">
									<a href="javascript:;" ><em>{{userAddress.consignee}}</em></a>
								</div>
								<div class="con address">
									<span class="place">{{userAddress.userAddress}}</span>
									<span class="phone">{{userAddress.phoneNum}}</span>
									<span class="base" v-if="userAddress.isDefault == 1">default address</span>
								</div>
								<div class="clearfix"></div>
							</div>

						</li>
					</ul>
					<!--Confirm address-->
				</div>
			</div>
			<div class="hr"></div>
			<!--Payment and Delivery-->
			<div class="payshipInfo">
				<div class="step-tit">
					<h5>Payment method</h5>
				</div>
				<div class="step-cont">
					<ul class="payType">
						<li class="selected" typeValue="ONLINE">Pay online<span title="click to cancel selection"></span></li>
						<li typeValue="OUTLINE">Cash on delivery<span title="click to cancel selection"></span></li>
						<input type="hidden" id="payType" value="1">
					</ul>
				</div>
				<div class="hr"></div>
				<div class="step-tit">
					<h5>Shipping List</h5>
				</div>
				<div class="step-cont">
					<ul class="send-detail">
						<li>
							<div class="sendType">
								<span>Delivery method:</span>
								<ul>
									<li>
										<div class="con express">Daily Express</div>
										<div class="con delivery">Delivery time: Expected to be delivered on August 10 (Wednesday) 09:00-15:00</div>
									</li>
								</ul>
							</div>
							<div class="sendGoods">
								<span>Product list:</span>
								<ul class="yui3-g" th:each="detail: ${detailArrayList}">
									<li class="yui3-u-1-6">
										<span><img th:src="${detail.imgUrl}" width="100"/></span>
									</li>
									<li class="yui3-u-7-12">
										<div class="desc" th:text="${detail.skuName}">{{item.skuName}}</div>
										<div class="seven">7 days no reason to return the goods</div>
									</li>
									<li class="yui3-u-1-12">
										<div class="price" th:text="'￥'+${detail.orderPrice}">￥{{item.orderPrice}}</div>
									</li>
									<li class="yui3-u-1-12">
										<div class="num" th:text="'X'+${detail.skuNum}">{{item.skuNum}}</div>
									</li>
									<li class="yui3-u-1-12">
										<div class="exit">In stock</div>
									</li>
								</ul>

							</div>
							<div class="buyMessage">
								<span>Buyer's message:</span>
								<textarea placeholder="It is recommended to communicate with the merchant to confirm before leaving a message" class="remarks-cont"></textarea>
							</div>
						</li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="hr"></div>
			</div>

			<div class="linkInfo">
				<div class="step-tit">
					<h5>Invoice information</h5>
				</div>
				<div class="step-cont">
					<span>Ordinary invoice (electronic)</span>
					<span>Individual</span>
					<span>Details</span>
				</div>
			</div>
			<div class="cardInfo">
				<div class="step-tit">
					<h5>Use discounts/credits</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="order-summary">
		<div class="static fr">
			<div class="list">
				<span><i class="number" th:text="${totalNum}">1</i> item, total item amount</span>
				<em class="allprice" th:text="'￥'+${totalAmount}">¥0</em>
			</div>
			<div class="list">
				<span>Cashback:</span>
				<em class="money">0.00</em>
			</div>
			<div class="list">
				<span>Shipping:</span>
				<em class="transport">0.00</em>
			</div>
		</div>
	</div>
	<div class="clearfix trade">
		<div class="fc-price">Amount payable:　<span class="price" th:text="'￥'+${totalAmount}">¥0</span></div>
		<div class="fc-receiverInfo">Send to:
			<span id="receive-address">{{order.deliveryAddress}}</span>
			Consignee: <span id="receive-name">{{order.consignee}}</span>
			<span id="receive-phone">{{order.consigneeTel}}</span>
		</div>
	</div>
	<div class="submit">
		<a class="sui-btn btn-danger btn-xlarge" href="javascript:;" @click="submitOrder()">Submit an order</a>
	</div>
</div>
<!-- Bottom column -->
<!--Bottom of the page-->
<div class="clearfix footer">
	<div class="py-container">
		<div class="footlink">
			<div class="clearfix Mod-list">
				<div class="yui3-g">
					<div class="yui3-u-1-6">
						<h4>Shopping Guide</h4>
						<ul class="unstyled">
							<li>Shopping process</li>
							<li>Member Introduction</li>
							<li>Life travel/group purchase</li>
							<li>Frequently asked questions</li>
							<li>Shopping guide</li>
						</ul>

					</div>
					<div class="yui3-u-1-6">
						<h4>Delivery method</h4>
						<ul class="unstyled">
							<li>Home pick up</li>
							<li>211 Limited Time Up</li>
							<li>Distribution service inquiry</li>
							<li>Delivery fee charging standard</li>
							<li>Overseas delivery</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Payment method</h4>
						<ul class="unstyled">
							<li>Cash on delivery</li>
							<li>Online payment</li>
							<li>Instalment payment</li>
							<li>Post office remittance</li>
							<li>Company transfer</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>After-sales service</h4>
						<ul class="unstyled">
							<li>After-sales policy</li>
							<li>Price protection</li>
							<li>Refund instructions</li>
							<li>Repair/return/exchange</li>
							<li>Cancel order</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Special Services</h4>
						<ul class="unstyled">
							<li>Treasure Island</li>
							<li>DIY installation</li>
							<li>Extended Warranty Service</li>
							<li>Shangpinhui E Card</li>
							<li>Shangpinhui Communication</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Help Center</h4>
						<img src="./img/wx_cz.jpg">
					</div>
				</div>
			</div>
			<div class="Mod-copyright">
				<ul class="helpLink">
					<li>About us<span class="space"></span></li>
					<li>Contact us<span class="space"></span></li>
					<li>About us<span class="space"></span></li>
					<li>Businesses settled in<span class="space"></span></li>
					<li>Marketing Center<span class="space"></span></li>
					<li>Friendly link<span class="space"></span></li>
					<li>About us<span class="space"></span></li>
					<li>Marketing Center<span class="space"></span></li>
					<li>Friendly link<span class="space"></span></li>
					<li>About us</li>
				</ul>
				<p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
				<p>Beijing ICP No. 19006430</p>
			</div>
		</div>
	</div>
</div>
<!--Bottom of the pageEND-->
<!--Bottom of the pageEND-->
<script src="/js/api/trade.js"></script>
<script th:inline="javascript">
	var item = new Vue({
		el: '#item',

		data: {
            userAddressList: [[${userAddressList}]],
            tradeNo: [[${tradeNo}]],

            order: {
                consignee:'',
                consigneeTel: '',
                deliveryAddress:'',
                paymentWay:'ONLINE',
                orderComment:'',
                orderDetailList:[[${detailArrayList}]]
            }
		},

        created() {
            this.init()
        },

        methods: {
            init() {
                debugger
                this.userAddressList.forEach((item) => {
                    item.selected = 0
                    if(item.isDefault == 1) {
                        item.selected = 1
                        this.order.consignee = item.consignee
                        this.order.consigneeTel = item.phoneNum
                        this.order.deliveryAddress = item.userAddress
                    }
                })
            },

            submitOrder() {
                trade.submitOrder(this.order, this.tradeNo).then(response => {
                    if (response.data.code == 200) {
                        window.location.href = 'http://payment.gmall.com/pay.html?orderId=' + response.data.data
                    } else {
                        alert(response.data.message)
                    }

                })
            },

            selectAddress(addressId) {
                debugger
                this.userAddressList.forEach((item) => {
                    if(item.id == addressId) {
                        item.selected = 1

                        this.order.consignee = item.consignee
                        this.order.consigneeTel = item.phoneNum
                        this.order.deliveryAddress = item.userAddress
                        this.order.paymentWay = this.paymentWay
                    } else {
                        item.selected = 0
                    }
                })
            },

            selectPaymentWay(paymentWay) {
                this.order.paymentWay = paymentWay
            }
        }
	})
</script>

</body>

</html>
