<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Inventory System</title>
</head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="easyui/easyloader.js"></script>
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css"
		  href="easyui/themes/default/easyui.css">

</head>
<body class="easyui-layout">
<div data-options="region:'north',title:'Northeastern people are all underworld',split:true"
	 style="height: 100px;">
	<center>
		<h1 style="color: red">After passing through Shanhaiguan, I will find Zhao Benshan! When you arrive in the Northeast, you must find the uncle Benshan to cover it! </h1>
	</center>
</div>
<div data-options="region:'south',title:'South are soft sisters',split:true"
	 style="height: 100px;">
	<center>
		<h1 style="color: red">South-to-North Water Diversion</h1>
	</center>

</div>
<div
		data-options="region:'east',iconCls:'icon-reload',title:'East is full of rich people',split:true"
		style="width: 100px;">
	<center>
		<h1 style="color: red">The Oriental Pearl Tower! -Dong Mingzhu-Gree boss! </h1>
	</center>
</div>
<div data-options="region:'west',title:'Western Development',split:true"
	 style="width: 100px;">
	<ul id="tt" class="easyui-tree">
		<li><span>Work Order Management</span>
			<ul>
				<!-- data-options: Define the tree shape of the control
                data-options="attributes:{key:'value'}"
                When corresponding to the following values, take the key
                -->
				<li data-options="attributes:{url:'orderTasklist.html'}" >Query work order</li>
				<li>xxx</li>
			</ul></li>

		<li><span>System Management</span>
			<ul>
				<li>System Settings</li>
				<li>Log management</li>
			</ul></li>
	</ul>
</div>
<div data-options="region:'center',title:'Rise of Central Region'"
	 style="padding: 5px; background: #eee;">
	<div id="tab" class="easyui-tabs"
		 style="width: 500px; height: 450px;">
		<div title="Tab1" style="padding: 20px; display: none;">tab1
		</div>
		<div title="Tab2" data-options="closable:true"
			 style="overflow: auto; padding: 20px; display: none;">tab2</div>
		<div title="Tab3"
			 data-options="iconCls:'icon-reload',closable:true"
			 style="padding: 20px; display: none;">tab3</div>
	</div>
</div>
</body>
<script type="text/javascript">
	$(function(){
		/*#ttGet the tree control
        node: node
        */
		$('#tt').tree({
			/* node node */
			onClick: function(node){
//alert(node.text); // prompt when the user clicks
				$('#tab').tabs('add',{
					title:node.text,
					/* Replace the content with a jsp, page
                    Use iframe inline frame. src can refer to jsp!
                    When you click the tree control on the left, pass the node.attributes.url!
                    */
					content:"<iframe src='"+node.attributes.url+"' style='border:0;width:100%;height:100%'>",
					closable:true,
					tools:[{
						iconCls:'icon-mini-refresh',
						handler:function(){
							alert('refresh');
						}
					}]
				});

			}
		});


	})
</script>


</html>