<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Work Order</title>

	<!-- ${sxt} indicates the following path to obtain the project name -->
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="easyui/easyloader.js"></script>
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css"
		  href="easyui/themes/default/easyui.css">
	<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
<script type="text/javascript">
	$(function() {
		$('#dg').datagrid({
// url: Represents the request data address written as the path in the controller. The way of fetching data is all requested in ajax way.
// field is bound to the attribute name
			/* url:'${sxt}/findAll', */
			url:'/taskList',
			columns: [[
				{
					field:'id',
					title:'Work order number',
					width: 100
				}, {
					field:'orderId',
					title:'Order number',
					width: 100
				},
				{
					field:'wareId',
					title:'Warehouse number',
					width: 100
				},
				{
					field:'orderBody',
					title:'Cargo description',
					width: 100
				}, {
					field:'consignee',
					title:'Consignee',
					width: 100
				},{
					field:'deliveryAddress',
					title:'Receiving address',
					width: 100
				},{
					field:'trackingNo',
					title:'Waybill number',
					width: 100
				},{
					field:'taskStatus',
					title:'Status',
					width: 100
				}] ],
			toolbar:'#tb',
			singleSelect: true,
			pagination: true,
			rownumbers: true
		});

	})
</script>
<body>
<!-- Used to define the toolbar -->
<div id="tb">
	<button class="easyui-linkbutton" data-options="iconCls:'icon-edit'"
			onclick="edit()">Shipment</button>

</div>
<!-- Setting add, edit window -->
<div id="dlg" class="easyui-dialog"
	 style="width: 400px; height: 200px;" closed="true" buttons="#bb"
	 data-options="iconCls:'icon-save',resizable:true,modal:true">
	<!-- Submit data to the background
      The form is missing an action.
      -->
	<div>User information</div>
	<form id="fm" method="post">
		<div>
			<label >User name:</label> <input class="easyui-validatebox"
											  type="text" name="username" data-options="required:true" />
		</div>
		<div>
			<label >Password:</label> <input class="easyui-validatebox"
											 type="password" name="pwd" data-options="required:true" />
		</div>
		<input>
	</form>
</div>
<!-- Save, close -->
</div>
<div id="bb">
	<a href="#" class="easyui-linkbutton" onclick="saveUser()">Save</a> <a
		href="#" class="easyui-linkbutton"
		onclick="javascript:$('#dlg').dialog('close')">Close</a>
</div>
<!-- Display data -->
<table id="dg"></table>

</body>
<script type="text/javascript">
	function add() {
// When clicking, the dialog box should appear
		$("#dlg").dialog('open').dialog('setTitle','Add user')
// When loading the dialog box, clear the form data
// The specific path of the url is completed in this step Controller
		url ='${sxt}/add'
	}
	/* Save button */
	function saveUser() {
		$('#fm').form('submit', {
			url: url,
			onSubmit: function() {
// do some check to verify the information. If there is no verification in the project, this step can be omitted.
// return false to prevent submit;
				return $(this).form('validate');
			},
			success: function(data) {
// The callback function executed. Determine whether the user is successfully added!
				var data = eval('(' + data +')'); // change the JSON string to javascript object
				if (data.flag == "ok") {
// After the addition is complete, close dlg.
					$("#dlg").dialog('close')
// Reload data
					$("#dg").datagrid('reload')
				} else {
					alert("fail!")
				}
			}
		});
	}
	function edit() {
// Edit: Modify according to id.
		var row = $("#dg").datagrid('getSelected')
// pop up a dialogue
		$("#dlg").dialog('open').dialog('setTitle','Edit')
// Load the data into the dialog
		$('#fm').form('load',row) // read the URL of the form
// The submitted url address!
		url='/delivered?id='+row.id
	}
	function del() {
// Call the getSelected method.
		var row = $("#dg").datagrid('getSelected')

		$.messager.confirm('Confirm','Are you sure you want to delete the record?', function(r) {
			if (r) {
				// delete data
				$.ajax({
					type: "post",
					url: "${sxt}/del",
					data: {
						"id": row.id
					},
					dataType: "json",
					success: function(data) {
						if (data.flag == "ok") {
// Reload data
							$("#dg").datagrid('reload')
						} else {
							$.messager.alert('Warning','Deletion failed!');
						}
					}
				})
			}
		});

	}
</script>


</html>