<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Non-essential attributes! The full path of the namespace interface! -->
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">
    <!--Define the returned result set-->
    <resultMap id="SkuSaleAttrValueMap" type="java.util.Map" autoMapping="true">

    </resultMap>
    <!--Execute sql statement-->
    <select id="selectSaleAttrValuesBySpu" resultMap="SkuSaleAttrValueMap">
        SELECT
            sku_id,
            group_concat(
                    sale_attr_value_id
                        ORDER BY
                     sp.base_sale_attr_id SEPARATOR'|'
                ) value_ids
        FROM
            sku_sale_attr_value sv
                INNER JOIN spu_sale_attr_value sp ON sp.id = sv.sale_attr_value_id
        WHERE
            sp.spu_id = #{spuId}
        GROUP BY
            sku_id;
    </select>
</mapper>