<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>My order</title>
    <link rel="icon" href="./img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-seckillOrder.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-myOrder.css" />

    <div th:include="common/head :: head"></div>
</head>

<body>
<!-- Header field -->
<!--Top of the page-->
<div th:include="common/header :: header"></div>

<!--header-->
<div id="account">
    <div class="py-container">
        <div class="yui3-g home">
            <!--List on the left-->
            <div class="yui3-u-1-6 list">
                <div th:include="common/left :: left"></div>
            </div>
            <!--Main content on the right-->
            <div class="yui3-u-5-6 order-pay">
                <div class="body">
                    <div class="table-title">
                        <table class="sui-table order-table">
                            <tr>
                                <thead>
                                <th width="10%">Coupon type</th>
                                <th width="20%">Denomination</th>
                                <th width="43%">Description</th>
                                <th width="15%">Expiration time</th>
                                <th width="10%">Status</th>
                                </thead>
                            </tr>
                        </table>
                    </div>
                    <div class="order-detail">
                        <div class="orders">

                            <!--order2-->
                            <div v-for="(couponInfo,index) in data" :key="couponInfo.id">
                                <table class="sui-table table-bordered order-datatable" style="margin-bottom: 0px;">
                                    <tbody>
                                    <tr>
                                        <td width="10%" class="center">
                                            <span class="coupon-name" v-if="couponInfo.couponType =='CASH'">Cash coupon</span>
                                            <span class="coupon-name" v-if="couponInfo.couponType =='DISCOUNT'">Discount coupon</span>
                                            <span class="coupon-name" v-if="couponInfo.couponType =='FULL_REDUCTION'">Full reduction</span>
                                            <span class="coupon-name" v-if="couponInfo.couponType =='FULL_DISCOUNT'">Full piece discount coupon</span>
                                        </td>
                                        <td width="20%" class="center">
                                            <span class="condition" v-if="couponInfo.couponType =='CASH'">Cash coupon {{ couponInfo.benefitAmount }} yuan</span>
                                            <span class="condition" v-if="couponInfo.couponType =='DISCOUNT'">Discount coupon {{ couponInfo.benefitDiscount }} discount</span>
                                            <span class="condition" v-if="couponInfo.couponType =='FULL_REDUCTION'">Full {{ couponInfo.conditionAmount }} minus {{ couponInfo.benefitAmount }} yuan</span>
                                            <span class="condition" v-if="couponInfo.couponType =='FULL_DISCOUNT'">Full {{ couponInfo.conditionNum }} discounts for {{ couponInfo.benefitDiscount }}</span>
                                        </td>
                                        <td width="43%" class="center">{{ couponInfo.rangeDesc }}</td>
                                        <td width="15%" class="center">{{ couponInfo.expireTime }}</td>
                                        <td width="10%" class="center">{{ couponInfo.couponStatus =='NOT_USED'?'Not used':'Used' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="choose-order" v-if="data !== undefined && data.length> 0">
                            <div class="sui-pagination pagination-large top-pages">
                                <ul>
                                    <li class="prev disabled"
                                        :class="{disabled: pageNo == 1}"
                                        @click.prevent="fetchData(pageNo-1)"
                                    >
                                        <a href="javascript:">«Previous page</a>
                                    </li>
                                    <li
                                            v-for="page in pages"
                                            :key="page"
                                            :class="{active: pageNo == page, disabled: pageNo == page}"
                                            :title="'第'+page+'页'"
                                            @click.prevent="fetchData(page)"
                                    >
                                        <a href="javascript:">{{ page }}</a>
                                    </li>

                                    <li class="prev disabled"
                                        :class="{disabled: pageNo == pages}"
                                        @click.prevent="fetchData(pageNo + 1)"
                                    >
                                        <a href="javascript:">Next page»</a>
                                    </li>
                                </ul>
                                <div>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;Total {{pages}} pages&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="like-title">
                        <div class="mt">
                            <span class="fl"><strong>Best selling items</strong></span>
                        </div>
                    </div>
                    <div class="like-list">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="./img/_/itemlike01.png" />
                                    </div>
                                    <div class="attr">
                                        <em>DELL Dell Ins 15MR-7528SS 15-inch silver notebook</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>3699.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">Already reviewed by 6 people</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="./img/_/itemlike02.png" />
                                    </div>
                                    <div class="attr">
                                        <em>Apple iPhone 6s/6s Plus 16G 64G 128G</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4388.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">700 people commented</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="./img/_/itemlike03.png" />
                                    </div>
                                    <div class="attr">
                                        <em>DELL Dell Ins 15MR-7528SS 15-inch silver notebook</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4088.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">700 people commented</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="./img/_/itemlike04.png" />
                                    </div>
                                    <div class="attr">
                                        <em>DELL Dell Ins 15MR-7528SS 15-inch silver notebook</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4088.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">700 people commented</i>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 底部栏位 -->
<!--页面底部-->
<div class="clearfix footer">
    <div class="py-container">
        <div class="footlink">
            <div class="clearfix Mod-list">
                <div class="yui3-g">
                    <div class="yui3-u-1-6">
                        <h4>购物指南</h4>
                        <ul class="unstyled">
                            <li>购物流程</li>
                            <li>会员介绍</li>
                            <li>生活旅行/团购</li>
                            <li>常见问题</li>
                            <li>购物指南</li>
                        </ul>

                    </div>
                    <div class="yui3-u-1-6">
                        <h4>配送方式</h4>
                        <ul class="unstyled">
                            <li>上门自提</li>
                            <li>211限时达</li>
                            <li>配送服务查询</li>
                            <li>配送费收取标准</li>
                            <li>海外配送</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>支付方式</h4>
                        <ul class="unstyled">
                            <li>Cash on delivery</li>
                            <li>Online payment</li>
                            <li>Instalment payment</li>
                            <li>Post office remittance</li>
                            <li>Company transfer</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>After-sales service</h4>
                        <ul class="unstyled">
                            <li>After-sales policy</li>
                            <li>Price protection</li>
                            <li>Refund instructions</li>
                            <li>Repair/return/exchange</li>
                            <li>Cancel order</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Special Services</h4>
                        <ul class="unstyled">
                            <li>Treasure Island</li>
                            <li>DIY installation</li>
                            <li>Extended Warranty Service</li>
                            <li>Shangpinhui E Card</li>
                            <li>Shangpinhui Communication</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Help Center</h4>
                        <img src="./img/wx_cz.jpg">
                    </div>
                </div>
            </div>
            <div class="Mod-copyright">
                <ul class="helpLink">
                    <li>About us<span class="space"></span></li>
                    <li>Contact us<span class="space"></span></li>
                    <li>About us<span class="space"></span></li>
                    <li>Businesses settled in<span class="space"></span></li>
                    <li>Marketing Center<span class="space"></span></li>
                    <li>Friendly link<span class="space"></span></li>
                    <li>About us<span class="space"></span></li>
                    <li>Marketing Center<span class="space"></span></li>
                    <li>Friendly link<span class="space"></span></li>
                    <li>About us</li>
                </ul>
                <p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
                <p>Beijing ICP No. 19006430</p>
            </div>
        </div>
    </div>
</div>
<!--Bottom of the pageEND-->
<script src="/js/api/activity.js"></script>
<script th:inline="javascript">
    var item = new Vue({
        el:'#account',

        data: {
            pageNo: 1,
            pageSize:10,
            pages: 1,
            data:{}
        },

        created () {
            this.fetchData(1)
        },
        methods: {
            fetchData(pageNo = 1) {
                if(pageNo < 1) pageNo = 1
                if(pageNo >= this.pages) pageNo = this.pages

                activity.getPageList(pageNo,this.pageSize).then(response => {
                    this.data = response.data.data.records
                    this.pages = response.data.data.pages
                })
            },

            item(id) {
                window.location = 'http://item.gmall.com/' + id + '.html'
            }
        }
    })
</script>

<script th:inline="javascript">
    window.page = {};
    window.page.page_id = "couponInfo";
    // window.page.item = {
    //     "page_item_type": "",
    //     "page_item": ""
    // }
    window.page.page_item_type = "";
    window.page.page_item = ""
    window.page.sourceType = "query"; //page object id
</script>
<script src="/hm.js"></script>
</body>

</html>