<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>Order submitted successfully</title>
	<link rel="icon" href="/img/favicon.ico">


	<link rel="stylesheet" type="text/css" href="/css/all.css" />
	<link rel="stylesheet" type="text/css" href="/css/pages-pay.css" />
	<div th:include="common/head :: head"></div>
</head>

<body>
<!--head-->
<!-- Header field -->
<!--Top of the page-->
<div th:include="common/header :: header"></div>

<div class="cart py-container" id="item">


	<!--Main content-->
	<div class="checkout py-container pay">
		<div class="checkout-tit">
			<h4 class="tit-txt"><span class="success-icon"></span><span class="success-info">The order is submitted successfully, please pay in time so that we can ship to you as soon as possible~ ~</span></h4>
			<div class="paymark">
				<span class="fl">Please complete the payment within <em class="orange time">4 hours</em> of submitting the order, and the overtime order will be automatically cancelled. Order number: <em th:text="${orderInfo.id}">00</em></span>
				<span class="fr"><em class="sui-lead">Amount payable:</em><em class="orange money" th:text="'￥'+${orderInfo.totalAmount}"> ￥1</em></span>
			</div>
		</div>

		<div class="check-info">
			<h4>Important note:</h4>
			<ol>
				<li>Mall payment platform currently supports <span class="zfb">Alipay</span> payment method. </li>
				<li>Other payment channels are under debugging, so stay tuned. </li>
				<li>In order to ensure the smooth completion of your shopping payment process, please save the following Alipay information. </li>
			</ol>
			<h4>Alipay account information: (very important, <span class="save">please save!!!</span>)</h4>
			<ul>
				<li>Payment account number: 1111111</li>
				<li>Password: 111111</li>
				<li>Payment password: 111111</li>
			</ul>
		</div>


		<div class="checkout-steps">
			<!--Recipient Information-->
			<div class="step-tit">
				<h5>Payment platform</h5>
			</div>
			<div class="step-cont">
				<ul class="payType">
					<a th:href="@{http://api.gmall.com/api/payment/alipay/submit/{orderId}(orderId=${orderInfo.id})}" target="_blank"><li ><img src="./img/_/pay1.jpg"></li></a>
					<a th:href="@{http://payment.gmall.com/weixin.html?orderId={orderId}(orderId=${orderInfo.id})}" target="_blank"><li>< img src="./img/_/pay3.jpg"></li></a>
				</ul>

			</div>
			<div class="hr"></div>

			<!--Payment and Delivery-->
			<div class="payshipInfo">
				<div class="step-tit">
					<h5>Pay online banking</h5>
				</div>
				<div class="step-cont">
					<ul class="payType">
						<li><img src="./img/_/pay10.jpg"></li>
						<li><img src="./img/_/pay11.jpg"></li>
						<li><img src="./img/_/pay12.jpg"></li>
						<li><img src="./img/_/pay13.jpg"></li>
						<li><img src="./img/_/pay14.jpg"></li>
						<li><img src="./img/_/pay15.jpg"></li>
						<li><img src="./img/_/pay16.jpg"></li>
						<li><img src="./img/_/pay17.jpg"></li>
						<li><img src="./img/_/pay18.jpg"></li>
						<li><img src="./img/_/pay19.jpg"></li>
						<li><img src="./img/_/pay20.jpg"></li>
						<li><img src="./img/_/pay21.jpg"></li>
						<li><img src="./img/_/pay22.jpg"></li>

					</ul>
				</div>
				<div class="hr"></div>
			</div>

			<!--<div class="submit sui-text-center">-->
			<!--<a class="sui-btn btn-danger btn-xlarge" href="paysuccess.html" target="_blank">Pay now</a>-->
			<!--</div>-->
			<div class="otherpay">
				<div class="step-tit">
					<h5>Other payment methods</h5>
				</div>
				<div class="step-cont">
					<span><a href="weixinpay.html" target="_blank">WeChat Pay</a></span>
					<span>China UnionPay</span>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- Bottom column -->
<!--Bottom of the page-->
<div class="clearfix footer">
	<div class="py-container">
		<div class="footlink">
			<div class="clearfix Mod-list">
				<div class="yui3-g">
					<div class="yui3-u-1-6">
						<h4>Shopping Guide</h4>
						<ul class="unstyled">
							<li>Shopping process</li>
							<li>Member Introduction</li>
							<li>Life travel/group purchase</li>
							<li>Frequently asked questions</li>
							<li>Shopping guide</li>
						</ul>

					</div>
					<div class="yui3-u-1-6">
						<h4>Delivery method</h4>
						<ul class="unstyled">
							<li>Home pick up</li>
							<li>211 Limited Time Up</li>
							<li>Distribution service inquiry</li>
							<li>Delivery fee charging standard</li>
							<li>Overseas delivery</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Payment method</h4>
						<ul class="unstyled">
							<li>Cash on delivery</li>
							<li>Online payment</li>
							<li>Instalment payment</li>
							<li>Post office remittance</li>
							<li>Company transfer</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>After-sales service</h4>
						<ul class="unstyled">
							<li>After-sales policy</li>
							<li>Price protection</li>
							<li>Refund instructions</li>
							<li>Repair/return/exchange</li>
							<li>Cancel order</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Special Services</h4>
						<ul class="unstyled">
							<li>Treasure Island</li>
							<li>DIY installation</li>
							<li>Extended Warranty Service</li>
							<li>Shangpinhui E Card</li>
							<li>Shangpinhui Communication</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Help Center</h4>
						<img src="./img/wx_cz.jpg">
					</div>
				</div>
			</div>
			<div class="Mod-copyright">
				<ul class="helpLink">
					<li>About us<span class="space"></span></li>
					<li>Contact us<span class="space"></span></li>
					<li>About us<span class="space"></span></li>
					<li>Businesses settled in<span class="space"></span></li>
					<li>Marketing Center<span class="space"></span></li>
					<li>Friendly link<span class="space"></span></li>
					<li>About us<span class="space"></span></li>
					<li>Marketing Center<span class="space"></span></li>
					<li>Friendly link<span class="space"></span></li>
					<li>About us</li>
				</ul>
				<p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
				<p>Beijing ICP No. 19006430</p>
			</div>
		</div>
	</div>
</div>
<!--The bottom of the pageEND-->
<!--The bottom of the pageEND-->

</body>

</html>
