<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>Payment page-success</title>
	<link rel="icon" href="./img/favicon.ico">


	<link rel="stylesheet" type="text/css" href="/css/all.css" />
	<link rel="stylesheet" type="text/css" href="/css/pages-paysuccess.css" />
	<div th:include="common/head :: head"></div>
</head>

<body>
<!--Top of the page-->
<div th:include="common/header :: header"></div>

<div class="cart py-container">
	<!--Main content-->
	<div class="paysuccess">
		<div class="success">
			<h3><img src="/img/_/right.png" width="48" height="48">　Congratulations, the payment is successful! </h3>
			<div class="paydetail">
				<!--<p>Payment method: WeChat</p>-->
				<!--<p>Payment amount: ￥<em id="payMoney"></em>yuan</p>-->
				<p class="button"><a href="http://order.gmall.com/myOrder.html" class="sui-btn btn-danger btn-xlarge">View order</a>&nbsp;&nbsp ;&nbsp;&nbsp;
					<a href="http://list.gmall.com/list.html" class="sui-btn btn-xlarge btn-goshop">Continue shopping</a></p>
			</div>
		</div>
	</div>
</div>
<!-- Bottom column -->
<!--Bottom of the page-->
<div class="clearfix footer">
	<div class="py-container">
		<div class="footlink">
			<div class="clearfix Mod-list">
				<div class="yui3-g">
					<div class="yui3-u-1-6">
						<h4>Shopping Guide</h4>
						<ul class="unstyled">
							<li>Shopping process</li>
							<li>Member Introduction</li>
							<li>Life travel/group purchase</li>
							<li>Frequently asked questions</li>
							<li>Shopping guide</li>
						</ul>

					</div>
					<div class="yui3-u-1-6">
						<h4>Delivery method</h4>
						<ul class="unstyled">
							<li>Home pick up</li>
							<li>211 Limited Time Up</li>
							<li>Distribution service inquiry</li>
							<li>Delivery fee charging standard</li>
							<li>Overseas delivery</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Payment method</h4>
						<ul class="unstyled">
							<li>Cash on delivery</li>
							<li>Online payment</li>
							<li>Instalment payment</li>
							<li>Post office remittance</li>
							<li>Company transfer</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>After-sales service</h4>
						<ul class="unstyled">
							<li>After-sales policy</li>
							<li>Price protection</li>
							<li>Refund instructions</li>
							<li>Repair/return/exchange</li>
							<li>Cancel order</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Special Services</h4>
						<ul class="unstyled">
							<li>Treasure Island</li>
							<li>DIY installation</li>
							<li>Extended Warranty Service</li>
							<li>Shangpinhui E Card</li>
							<li>Shangpinhui Communication</li>
						</ul>
					</div>
					<div class="yui3-u-1-6">
						<h4>Help Center</h4>
						<img src="./img/wx_cz.jpg">
					</div>
				</div>
			</div>
			<div class="Mod-copyright">
				<ul class="helpLink">
					<li>About us<span class="space"></span></li>
					<li>Contact us<span class="space"></span></li>
					<li>About us<span class="space"></span></li>
					<li>Businesses settled in<span class="space"></span></li>
					<li>Marketing Center<span class="space"></span></li>
					<li>Friendly link<span class="space"></span></li>
					<li>About us<span class="space"></span></li>
					<li>Marketing Center<span class="space"></span></li>
					<li>Friendly link<span class="space"></span></li>
					<li>About us</li>
				</ul>
				<p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
				<p>Beijing ICP No. 19006430</p>
			</div>
		</div>
	</div>
</div>
<!--Bottom of the pageEND-->




</body>
</html>