<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<title>WeChat payment page</title>
		<link rel="icon" href="/img/favicon.ico">


		<link rel="stylesheet" type="text/css" href="/css/all.css" />
		<link rel="stylesheet" type="text/css" href="/css/pages-weixinpay.css" />
		<div th:include="common/head :: head"></div>
	</head>

	<body>
	<!--head-->
	<div class="top">
		<div class="py-container">
			<div class="shortcut">
				<ul class="fl">
					<li class="f-item">Welcome to Shangpinhui! </li>
					<li class="f-item">Please log in　<span><a href="#">Free registration</a></span></li>
				</ul>
				<ul class="fr">
					<li class="f-item">My order</li>
					<li class="f-item space"></li>
					<li class="f-item">My Shangpinhui</li>
					<li class="f-item space"></li>
					<li class="f-item">Members of Shangpinhui</li>
					<li class="f-item space"></li>
					<li class="f-item">Corporate Procurement</li>
					<li class="f-item space"></li>
					<li class="f-item">Follow Shangpinhui</li>
					<li class="f-item space"></li>
					<li class="f-item">Customer Service</li>
					<li class="f-item space"></li>
					<li class="f-item">Site navigation</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cart py-container" id="item">
		<!--logoArea-->
		<div class="logoArea">
			<div class="fl logo"><span class="title">Cashier Counter</span></div>
		</div>
		<!--Main content-->
		<div class="checkout py-container pay">
			<div class="checkout-tit">
				<h4 class="fl tit-txt"><span class="success-icon"></span><span class="success-info">The order was submitted successfully, please pay in time! Order number: {{data.orderId}}</span></h4>
				<span class="fr"><em class="sui-lead">Amount payable:</em><em class="orange money">￥{{data.totalFee}}</em>yuan</span >
				<div class="clearfix"></div>
			</div>
			<div class="checkout-steps">
				<div class="fl weixin">WeChat Pay</div>
				<div class="fl sao">
					<p class="red"></p>
					<div class="fl code">
						<div id="qrcode"></div>
						<div class="saosao">
							<p>Please scan with WeChat</p>
							<p>Scan the QR code to pay</p>
						</div>
					</div>
					<div class="fl phone">

					</div>

				</div>
				<div class="clearfix"></div>
				<p><a href="pay.html" target="_blank">> Other payment methods</a></p>
			</div>
		</div>

	</div>
	<!-- Bottom column -->
	<!--Bottom of the page-->
	<div class="clearfix footer">
		<div class="py-container">
			<div class="footlink">
				<div class="clearfix Mod-list">
					<div class="yui3-g">
						<div class="yui3-u-1-6">
							<h4>Shopping Guide</h4>
							<ul class="unstyled">
								<li>Shopping process</li>
								<li>Member Introduction</li>
								<li>Life travel/group purchase</li>
								<li>Frequently asked questions</li>
								<li>Shopping guide</li>
							</ul>

						</div>
						<div class="yui3-u-1-6">
							<h4>Delivery method</h4>
							<ul class="unstyled">
								<li>Home pick up</li>
								<li>211 Limited Time Up</li>
								<li>Distribution service inquiry</li>
								<li>Delivery fee charging standard</li>
								<li>Overseas delivery</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>Payment method</h4>
							<ul class="unstyled">
								<li>Cash on delivery</li>
								<li>Online payment</li>
								<li>Instalment payment</li>
								<li>Post office remittance</li>
								<li>Company transfer</li>
							</ul>
						</div>
					<div class="yui3-u-1-6">
						<h4>After-sales service</h4>
						<ul class="unstyled">
							<li>After-sales policy</li>
							<li>Price protection</li>
							<li>Refund instructions</li>
							<li>Repair/return/exchange</li>
							<li>Cancel order</li>
						</ul>
					</div>
						<div class="yui3-u-1-6">
							<h4>Special Services</h4>
							<ul class="unstyled">
								<li>Treasure Island</li>
								<li>DIY installation</li>
								<li>Extended Warranty Service</li>
								<li>Shangpinhui E Card</li>
								<li>Shangpinhui Communication</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>Help Center</h4>
							<img src="./img/wx_cz.jpg">
						</div>
					</div>
				</div>
				<div class="Mod-copyright">
					<ul class="helpLink">
						<li>About us<span class="space"></span></li>
						<li>Contact us<span class="space"></span></li>
						<li>About us<span class="space"></span></li>
						<li>Businesses settled in<span class="space"></span></li>
						<li>Marketing Center<span class="space"></span></li>
						<li>Friendly link<span class="space"></span></li>
						<li>About us<span class="space"></span></li>
						<li>Marketing Center<span class="space"></span></li>
						<li>Friendly link<span class="space"></span></li>
						<li>About us</li>
					</ul>
					<p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
					<p>Beijing ICP No. 19006430</p>
				</div>
			</div>
		</div>
	</div>
	<!--Bottom of the pageEND-->
	</body>
	<script src="/js/api/payment.js"></script>
	<script src="/js/plugins/qrcode.min.js" ></script>
	<script src="/js/plugins/stomp.min.js" ></script>
	<script th:inline="javascript">
		var item = new Vue({
			el:'#item',

			data: {
				orderId: [[${orderId}]],
				timer: null, // timer name
				initQCode:'',
				isRun: false,
				data: {}
			},

			created() {
				debugger
				payment.createNative(this.orderId).then(response => {
					this.data = response.data.data
					let qrcode = new QRCode(document.getElementById("qrcode"), {
						width: 300,
						height: 300
					});
					qrcode.makeCode(this.data.codeUrl);
					this.isRun = true
				})
			},

			mounted() {
				var timer = setInterval(() => {
					this.queryPayStatus(this.orderId)
				}, 3000);
				// Use $once to monitor the timer, and the hook in beforeDestroy can be cleared.
				this.$once('hook:beforeDestroy', () => {
					clearInterval(timer);
				})
			},

			methods: {
				queryPayStatus(orderId) {
					// debugger
					if(!this.isRun) return
					payment.queryPayStatus(orderId).then(response => {
						// debugger
						if (response.data.code == 200) {
							window.location.href ='/pay/success.html'
						}
					})
				}
			}
		})
	</script>

</html>
