<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div id="nav-bottom" th:fragment="header">
    <!--Top-->
    <div class="nav-top" id="header">
        <div class="top">
            <div class="py-container">
                <div class="shortcut">
                    <ul class="fl">
                        <li class="f-item">Welcome to Shangpinhui! </li>
                        <li v-if="userInfo.nickName ==''" class="f-item">Please <span><a href="javascript:" @click="login()">log in</a>< /span>　<span><a href="#">Free registration</a></span></li>
                        <li v-if="userInfo.nickName !=''" class="f-item"><span>{{userInfo.nickName}}</span>　<span><a href="javascript:" @click ="logout()">Logout</a></span></li>
                    </ul>
                    <div class="fr typelist">
                        <ul class="types">
                            <li class="f-item">
                                <span><a href="http://order.gmall.com/myOrder.html" target="_blank">My order</a></span>
                            </li>

                            <li class="f-item">
                                <span>
                                    <a href="http://cart.gmall.com/cart.html" target="_blank">My shopping cart</a>
                                </span>
                            </li>
                            <li class="f-item">
                                <span>
                                    <a href="home.html" target="_blank">My Shangpinhui</a>
                                </span>
                            </li>
                            <li class="f-item">
                                <span>Member of Shangpinhui</span>
                            </li>
                            <li class="f-item">
                                <span>Corporate Procurement</span>
                            </li>
                            <li class="f-item">
                                <span>Follow Shangpinhui</span>
                            </li>
                            <li class="f-item">
                                <span>
                                    <a href="cooperation.html" target="_blank">Cooperative investment promotion</a>
                                </span>
                            </li>
                            <li class="f-item">
                                <span>
                                    <a href="shoplogin.html" target="_blank">Business backend</a>
                                </span>
                            </li>
                            <!--<li class="f-item">-->
                            <!--<span>Site Navigation</li>-->
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--Head-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <a class="logo-bd" title="尚品汇" href="/index.html" target="_blank"></a>
                    </div>
                    <div class="yui3-u Rit searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline">
                                <!--searchAutoComplete-->
                                <div class="input-append">
                                    <input id="keyword" type="text" v-model="keyword" class="input-error input-xxlarge" />
                                    <button class="sui-btn btn-xlarge btn-danger" @click="search()" type="button">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="/js/api/login.js"></script>
    <script th:inline="javascript">
        var item = new Vue({
            el:'#header',

            data: {
                keyword: [[${searchParam?.keyword}]],
                userInfo: {
                    nickName:'',
                    name:''
                }
            },

            created() {
                this.showInfo()
            },

            methods: {
                showInfo() {
                    // debugger
                    if(auth.getUserInfo()) {
                        this.userInfo = auth.getUserInfo()
                        console.log("--------"+this.userInfo.nickName)
                    }
                },

                search() {
                    if(this.keyword == null) this.keyword =''
                    window.location.href ='http://list.gmall.com/list.html?keyword=' + this.keyword
                },

                login() {
                    window.location.href ='http://passport.gmall.com/login.html?originUrl='+window.location.href
                },

                logout() {
                    //debugger
                    login.logout().then(response => {
                        console.log("Exited")
                        auth.removeToken()
                        auth.removeUserInfo()

                        //Jump page
                        window.location.href = "/"
                    })
                }
            }
        })
    </script>
</div>

</body>
</html>
