<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:fragment="left">
    <dl>
        <dt><i>·</i> Order Center</dt>
        <dd><a href="http://order.gmall.com/myOrder.html">My Order</a></dd>
        <dd>Group purchase order</dd>
        <dd>Local life orders </dd>
        <dd>My pre-sale</dd>
        <dd>Evaluation list</dd>
        <dd>Cancel order record</dd>
        <dd><a href="http://activity.gmall.com/couponInfo.html">My coupon</a></dd>
    </dl>
    <dl>
        <dt><i>·</i> Focus Center</dt>
        <dd><a href="http://passport.gmall.com/favorInfo.html">Following products</a> </dd>
        <dd>Follow shops</dd>
        <dd>Following albums </dd>
        <dd>Follow brands</dd>
        <dd>Following activities </dd>
        <dd>Browsing history</dd>
    </dl>
    <dl>
        <dt><i>·</i> Featured business</dt>
        <dd>My business hall </dd>
        <dd>JD Communications </dd>
        <dd>Send regularly </dd>
        <dd>JD placed the order on behalf of</dd>
        <dd>My collection form </dd>
        <dd>Energy-saving subsidies</dd>
        <dd>Medical Services </dd>
        <dd>Flow gas station </dd>
        <dd>Golden hosting</dd>
    </dl>
    <dl>
        <dt><i>·</i> Customer Service</dt>
        <dd><a href="http://order.gmall.com/refund.html">Return and Exchange</a> </dd>
        <dd>Price protection </dd>
        <dd>Comments and suggestions </dd>
        <dd>Purchase consultation </dd>
        <dd>Transaction disputes </dd>
        <dd>My invoice</dd>
    </dl>
    <dl>
        <dt><i>·</i> Settings</dt>
        <dd>Personal information </dd>
        <dd>Receiving address </dd>
    </dl>
</div>
</body>
</html>