<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>尚品汇 产品列表页</title>
	 <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-list.css" />

    <div th:include="common/head :: head"></div>
</head>

<script >
    $(function () {
        $('.trademark').hover(function(){
            /*显示品牌名称*/
            $(this).children("div").show();
            $(this).children("img").hide();
        },function(){
            // alert("come on!")
            $(this).children("div").hide();
            $(this).children("img").show();
        });
    })
</script>
<body>
<!-- Header field -->
<div th:include="common/header :: header"></div>

<!-- Product classification navigation -->
<div class="typeNav">
    <div class="py-container">
        <div class="yui3-g NavList">
            <div class="all-sorts-list">
                <div class="yui3-u Left all-sort">
                    <h4>All product categories</h4>
                </div>

            </div>
            <div class="yui3-u Center navArea">
                <ul class="nav">
                    <li class="f-item">Clothing City</li>
                    <li class="f-item">Beauty salon</li>
                    <li class="f-item">Shangpinhui Supermarket</li>
                    <li class="f-item">Global purchase</li>
                    <li class="f-item">Flash sale</li>
                    <li class="f-item">Group purchase</li>
                    <li class="f-item">Interesting</li>
                    <li class="f-item"><a href="http://activity.gmall.com/seckill.html" target="_blank">seckill</a></li>
                </ul>
            </div>
            <div class="yui3-u Right"></div>
        </div>
    </div>
</div>
<!--list-content-->
<div class="main">
    <div class="py-container">
        <!--bread-->
        <div class="bread">
            <ul class="fl sui-breadcrumb">
                <li>
                    <a href="#">All results</a>
                </li>
                <li class="active">
                    <span th:text="${searchParam.keyword}"></span>
                </li>
            </ul>
            <ul class="fl sui-tag">
                <!--Brand bread crumbs-->
                <li th:if="${searchParam.trademark != null}" class="with-x">
                    <span th:text="${trademarkParam}"></span>
                    <a th:href="@{${#strings.replace(urlParam+'&order='+searchParam.order,'trademark='+searchParam.trademark,'')}}">×</a>
                </li>
                <!--Platform attribute breadcrumbs-->
                <li th:if="${searchParam.props != null}" th:each="prop: ${propsParamList}" class="with-x">
                    <span th:text="${prop.attrName}+':'+${prop.attrValue}"></span>
                    <a th:href="@{${#strings.replace(urlParam+'&order='+searchParam.order,'props='+prop.attrId+':'+prop.attrValue+':'+prop.attrName,' ')}}">×</a>
                </li>
            </ul>
        </div>

        <!--selector-->
        <div class="clearfix selector">
            <div class="type-wrap logo" th:if="${searchParam.trademark == null}">
                <div class="fl key brand">Brand</div>
                <div class="value logos">
                    <ul class="logo-list">
                        <li th:each="trademark:${trademarkList}">
                            <!--th:text="${trademark.tmName}"-->
                            <a class="trademark" style="text-decoration: none;color: red" th:href="${urlParam}+'&trademark='+${trademark.tmId}+':'+${trademark. tmName}+'&order='+${searchParam.order}" th:title="${trademark.tmName}">
                                <img th:src="${trademark.tmLogoUrl}">
                                <div th:text="${trademark.tmName}" style="display: none"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="type-wrap" th:each="baseAttrInfo:${attrsList}" th:unless="${#strings.contains(urlParam,'props='+baseAttrInfo.attrId)}">
                <!--Platform attribute name-->
                <div class="fl key" th:text="${baseAttrInfo.attrName}">Network standard</div>
                <div class="fl value">
                    <ul class="type-list">
                        <!--Get the platform attribute value collection-->
                        <li th:each="attrValue:${baseAttrInfo.attrValueList}">
                            <!--list.html?category3Id=61&props=-->
                            <a th:href="${urlParam}+'&props='+${baseAttrInfo.attrId}+':'+${attrValue}+':'+${baseAttrInfo.attrName}+'&order='+$ {searchParam.order}" th:text="${attrValue}" >Attribute value 111</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext"></div>
            </div>


        </div>
        <!--details-->
        <div class="details">
            <div class="sui-navbar">
                <div class="navbar-inner filter">
                    <ul class="sui-nav">
                        <!--skuInfo ${skuInfo.skuName}}
                            Map has the same function as an entity class object! type sort
                        -->
                        <li th:class="${orderMap.type == '1'?'active':''}">
                            <a th:href="${urlParam}+'&order=1:'+${orderMap.sort =='asc'?'desc':'asc'}">
                                Comprehensive <span th:if="${orderMap.type == '1'}" th:text="${orderMap.sort =='asc'?'↑':'↓'}"></span>
                            </a>
                        </li>
                        <li th:class="${orderMap.type == '2'?'active':''}">
                            <a th:href="${urlParam}+'&order=2:'+${orderMap.sort =='asc'?'desc':'asc'}">
                                Price<span th:if="${orderMap.type == '2'}" th:text="${orderMap.sort =='asc'?'↑':'↓'}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">New products</a>
                        </li>
                        <li>
                            <a href="#">Review</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="goods-list">
                <ul class="yui3-g">

                    <li class="yui3-u-1-5" th:each="goods: ${goodsList}">
                        <div class="list-wrap">
                            <div class="p-img">
                                <a th:href="@{http://item.gmall.com/{id}.html(id=${goods.id})}" target="_blank"><img th:src="${goods.defaultImg}"/></a>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i th:text="${goods.price}">6088.00</i>
                                </strong>
                            </div>
                            <div class="attr">
                                <a th:href="@{http://item.gmall.com/{id}.html(id=${goods.id})}" target="_blank" th:utext="${goods.title}">Apple苹果iPhone 6s (A1699)Apple苹果iPhone 6s (A1699)Apple苹果iPhone 6s (A1699)Apple苹果iPhone 6s (A1699)</a>
                            </div>
                            <div class="commit">
                                <i class="command">Already <span>2000</span> people commented</i>
                            </div>
                            <div class="operate">
                                <a href="javascript:void(0);" class="sui-btn btn-bordered btn-danger">self-employed</a>
                                <a href="javascript:void(0);" class="sui-btn btn-bordered">Favorites</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="fr page">
                <div class="sui-pagination pagination-large">
                    <ul>
                        <li class="prev" th:if="${pageNo != 1}">
                            <a th:href="${urlParam}+'&pageNo='+${pageNo-1}+'&order='+${searchParam.order}">Previous page</a>
                        </li>
                        <li class="prev disabled" th:if="${pageNo == 1}">
                            <a href="javascript:">Previous page</a>
                        </li>

                        <li th:each="i: ${#numbers.sequence(1,totalPages)}" th:class="${i == pageNo}?'active':''">
                            <a th:href="${urlParam}+'&pageNo='+${i}+'&order='+${searchParam.order}"><span th:text="${i}"></ span></a>
                        </li>

                        <li class="next" th:if="${pageNo <totalPages}">
                            <a th:href="${urlParam}+'&pageNo='+${pageNo + 1}+'&order='+${searchParam.order}">Next page</a>
                        </li>
                        <li class="next disabled" th:if="${pageNo == totalPages}">
                            <a href="javascript:">Next page</a>
                        </li>
                    </ul>
                    <div><span>Total<span th:text="${totalPages }"></span>pages&nbsp;</span><span></div>
                </div>
            </div>
        </div>
        <!--hotsale-->
        <div class="clearfix hot-sale">
            <h4 class="title">Hot Products</h4>
            <div class="hot-list">
                <ul class="yui3-g">
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="./img/like_01.png" />
                            </div>
                            <div class="attr">
                                <em>Apple iPhone 6s (A1699)</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">700 people commented</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="./img/like_03.png" />
                            </div>
                            <div class="attr">
                                <em>Metal A side, 360° flip, save 300 on APP orders! </em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">700 people commented</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="./img/like_04.png" />
                            </div>
                            <div class="attr">
                                <em>256SSD business big coffee, after exploding in the workplace, 200 off orders placed in APP</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4068.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">20 people have reviewed it</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="./img/like_02.png" />
                            </div>
                            <div class="attr">
                                <em>Apple iPhone 6s (A1699)</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>4088.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">700 people commented</i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Bottom column -->
<!--Bottom of the page-->
<div class="clearfix footer">
    <div class="py-container">
        <div class="footlink">
            <div class="clearfix Mod-list">
                <div class="yui3-g">
                    <div class="yui3-u-1-6">
                        <h4>Shopping Guide</h4>
                        <ul class="unstyled">
                            <li>Shopping process</li>
                            <li>Member Introduction</li>
                            <li>Life travel/group purchase</li>
                            <li>Frequently asked questions</li>
                            <li>Shopping guide</li>
                        </ul>

                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Delivery method</h4>
                        <ul class="unstyled">
                            <li>Home pick up</li>
                            <li>211 Limited Time Up</li>
                            <li>Distribution service inquiry</li>
                            <li>Delivery fee charging standard</li>
                            <li>Overseas delivery</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Payment method</h4>
                        <ul class="unstyled">
                            <li>Cash on delivery</li>
                            <li>Online payment</li>
                            <li>Instalment payment</li>
                            <li>Post office remittance</li>
                            <li>Company transfer</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>After-sales service</h4>
                        <ul class="unstyled">
                            <li>After-sales policy</li>
                            <li>Price protection</li>
                            <li>Refund instructions</li>
                            <li>Repair/return/exchange</li>
                            <li>Cancel order</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Special Services</h4>
                        <ul class="unstyled">
                            <li>Treasure Island</li>
                            <li>DIY installation</li>
                            <li>Extended Warranty Service</li>
                            <li>Shangpinhui E Card</li>
                            <li>Shangpinhui Communication</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Help Center</h4>
                        <img src="./img/wx_cz.jpg">
                    </div>
                </div>
            </div>
            <div class="Mod-copyright">
                <ul class="helpLink">
                    <li>About us<span class="space"></span></li>
                    <li>Contact us<span class="space"></span></li>
                    <li>About us<span class="space"></span></li>
                    <li>Businesses settled in<span class="space"></span></li>
                    <li>Marketing Center<span class="space"></span></li>
                    <li>Friendly link<span class="space"></span></li>
                    <li>About us<span class="space"></span></li>
                    <li>Marketing Center<span class="space"></span></li>
                    <li>Friendly link<span class="space"></span></li>
                    <li>About us</li>
                </ul>
                <p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
                <p>Beijing ICP No. 19006430</p>
            </div>
        </div>
    </div>
</div>
<!--Bottom of the pageEND-->

<!-- Basic js library -->

<!--Start of sidebar panel-->
<div class="J-global-toolbar">
    <div class="toolbar-wrap J-wrap">
        <div class="toolbar">
            <div class="toolbar-panels J-panel">

                <!-- Shopping cart -->
                <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
                    <h3 class="tbar-panel-header J-panel-header">
                        <a href="" class="title"><i></i><em class="title">Shopping cart</em></a>
                        <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('cart');" ></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div class="tbar-panel-content J-panel-content">
                            <div id="J-cart-tips" class="tbar-tipbox hide">
                                <div class="tip-inner">
                                    <span class="tip-text">have not logged in yet, the product will be saved after logging in</span>
                                    <a href="#none" class="tip-btn J-login">Log in</a>
                                </div>
                            </div>
                            <div id="J-cart-render">
                                <!-- List -->
                                <div id="cart-list" class="tbar-cart-list">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Subtotal -->
                    <div id="cart-footer" class="tbar-panel-footer J-panel-footer">
                        <div class="tbar-checkout">
                            <div class="jtc-number"> <strong class="J-count" id="cart-number">0</strong> items </div>
                            <div class="jtc-sum"> Total: <strong class="J-total" id="cart-sum">¥0</strong> </div>
                            <a class="jtc-btn J-btn" href="#none" target="_blank">Go to the shopping cart for settlement</a>
                        </div>
                    </div>
                </div>

                <!-- My attention -->
                <div style="visibility: hidden;" data-name="follow" class="J-content toolbar-panel tbar-panel-follow">
                    <h3 class="tbar-panel-header J-panel-header">
                        <a href="#" target="_blank" class="title"> <i></i> <em class="title">My following</em> </a>
                        <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('follow');"></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div class="tbar-panel-content J-panel-content">
                            <div class="tbar-tipbox2">
                                <div class="tip-inner"> <i class="i-loading"></i> </div>
                            </div>
                        </div>
                    </div>
                    <div class="tbar-panel-footer J-panel-footer"></div>
                </div>
                <!-- My footprint -->
                <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
                    <h3 class="tbar-panel-header J-panel-header">
                        <a href="#" target="_blank" class="title"> <i></i> <em class="title">My tracks</em> </a>
                        <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('history');"></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div class="tbar-panel-content J-panel-content">
                            <div class="jt-history-wrap">
                                <ul>
                                    <!--<li class="jth-item">
                                        <a href="#" class="img-wrap"> <img src="../../.../portal/img/like_03.png" height="100" width="100" /> </a>
                                        <a class="add-cart-button" href="#" target="_blank">Add to cart</a>
                                        <a href="#" target="_blank" class="price">￥498.00</a>
                                    </li>
                                    <li class="jth-item">
                                        <a href="#" class="img-wrap"> <img src="../../../portal/img/like_02.png" height="100" width="100" />< /a>
                                        <a class="add-cart-button" href="#" target="_blank">Add to cart</a>
                                        <a href="#" target="_blank" class="price">￥498.00</a>
                                    </li>-->
                                </ul>
                                <a href="#" class="history-bottom-more" target="_blank">View more footprint products &gt;&gt;</a>
                            </div>
                        </div>
                    </div>
                    <div class="tbar-panel-footer J-panel-footer"></div>
                </div>

            </div>

            <div class="toolbar-header"></div>

            <!-- Sidebar button -->
            <div class="toolbar-tabs J-tab">
                <div onclick="cartPanelView.tabItemClick('cart')" class="toolbar-tab tbar-tab-cart" data="shopping cart" tag="cart">
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                    <span class="tab-sub J-count "id="tab-sub-cart-count">0</span>
                </div>
                <div onclick="cartPanelView.tabItemClick('follow')" class="toolbar-tab tbar-tab-follow" data="my attention" tag="follow">
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                    <span class="tab-sub J-count hide">0</span>
                </div>
                <div onclick="cartPanelView.tabItemClick('history')" class="toolbar-tab tbar-tab-history" data="我的足迹" tag="history" >
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                    <span class="tab-sub J-count hide">0</span>
                </div>
            </div>

            <div class="toolbar-footer">
                <div class="toolbar-tab tbar-tab-top" > <a href="#"> <i class="tab-ico  "></i> <em class="footer-tab-text">顶部</em> </a> </div>
                <div class="toolbar-tab tbar-tab-feedback" > <a href="#" target="_blank"> <i class="tab-ico"></i> <em class="footer-tab-text ">反馈</em> </a> </div>
            </div>

            <div class="toolbar-mini"></div>

        </div>

        <div id="J-toolbar-load-hook"></div>

    </div>
</div>

</body>
</html>
