<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Shangpinhui goods have been successfully added to the shopping cart</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-success-cart.css" />

    <div th:include="common/head :: head"></div>
</head>

<body>
<!-- Header field -->
<!--Top of the page-->
<div th:include="common/header :: header"></div>

<div class="success-cart" id="item">
    <div class="py-container ">
        <h3><i class="sui-icon icon-pc-right"></i>The product has been successfully added to the shopping cart! </h3>
        <div class="goods">
            <div class="left-good">
                <div class="left-pic"><img th:src="${skuInfo.skuDefaultImg}"></div>
                <div class="right-info">
                    <p class="title" th:text="${skuInfo.skuName}"></p>
                    <p class="attr" th:text="${skuNum}">Quantity</p>
                </div>
            </div>
            <div class="right-gocart">
                <a th:href="@{http://item.gmall.com/{id}.html(id=${skuInfo.id})}" class="sui-btn btn-xlarge">View product details </a>
                <a href="/cart.html" class="sui-btn btn-xlarge btn-danger "target="_blank">Go to the shopping cart for settlement> </a>
            </div>
        </div>
    </div>
</div>

<div class="other-item py-container ">
    <h4>The friend who bought the product also bought it</h4>

    <div class="banner-goods">
        <div class="goods-list">
            <div id="myCarousel" data-ride="carousel" data-interval="false" class="sui-carousel slide">

                <div class="carousel-inner">
                    <div class="active item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
        </div>
    </div>

</div>
<div class="other-item py-container ">
    <h4>You may also need</h4>
    <div class="banner-goods">
        <div class="goods-list">
            <div id="needCarousel" data-ride="carousel" data-interval="false" class="sui-carousel slide">

                <div class="carousel-inner">
                    <div class="active item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="banner-item">
                                    <div class="p-img"><a href="#"><img src="./img/_/gocart01.jpg"></a></div>
                                    <div class="p-name"><a href="#">Motorola Moto Mods Moyan-Hasselblad Photographic Module</a></div>
                                    <div class="p-price">￥2299.00</div>
                                    <div class="p-btn"><a href="success-cart.html" target="_blank" class="sui-btn btn-bordered ">Add to cart</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#needCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#needCarousel" data-slide-to="1"></li>
                    <li data-target="#needCarousel" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="other-item py-container ">
    <h4>买什么</h4>
    <div class="buy-goods">


        <ul class="yui3-g">
            <li class="yui3-u-1-4">
                <div class="buy-list">
                    <h4>Tell you what is an electronic product expert</h4>
                    <p>Blood Battle Dragon</p>
                    <div class="imgs">
                        <div class="ab-cover"><img src="./img/_/buy01.jpg"></div>
                        <div class="ab-list">
                            <ul>
                                <li><img src="./img/_/buy001.jpg"></li>
                                <li><img src="./img/_/buy002.jpg"></li>
                                <li><img src="./img/_/buy002.jpg"></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class=" operate">
                        <a href="#" class="point"><i class="sui-icon icon-tb-like"></i> Follow 7</a>
                        <a href="#" class="zan"><i class="sui-icon icon-tb-appreciatefill"></i> Like 9</a>
                    </div>
                </div>
            </li>
            <li class="yui3-u-1-4">
                <div class="buy-list">
                    <h4>Tell you what is an electronic product expert</h4>
                    <p>Blood Battle Dragon</p>
                    <div class="imgs">
                        <div class="ab-cover"><img src="./img/_/buy01.jpg"></div>
                        <div class="ab-list">
                            <ul>
                                <li><img src="./img/_/buy001.jpg"></li>
                                <li><img src="./img/_/buy002.jpg"></li>
                                <li><img src="./img/_/buy002.jpg"></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class=" operate">
                        <a href="#" class="point"><i class="sui-icon icon-tb-like"></i> Follow 7</a>
                        <a href="#" class="zan"><i class="sui-icon icon-tb-appreciatefill"></i> Like 9</a>
                    </div>
                </div>
            </li>
            <li class="yui3-u-1-4">
                <div class="buy-list">
                    <h4>Tell you what is an electronic product expert</h4>
                    <p>Blood Battle Dragon</p>
                    <div class="imgs">
                        <div class="ab-cover"><img src="./img/_/buy01.jpg"></div>
                        <div class="ab-list">
                            <ul>
                                <li><img src="./img/_/buy001.jpg"></li>
                                <li><img src="./img/_/buy002.jpg"></li>
                                <li><img src="./img/_/buy002.jpg"></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class=" operate">
                        <a href="#" class="point"><i class="sui-icon icon-tb-like"></i> Follow 7</a>
                        <a href="#" class="zan"><i class="sui-icon icon-tb-appreciatefill"></i> Like 9</a>
                    </div>
                </div>
            </li>
            <li class="yui3-u-1-4">
                <div class="buy-list">
                    <h4>Tell you what is an electronic product expert</h4>
                    <p>Blood Battle Dragon</p>
                    <div class="imgs">
                        <div class="ab-cover"><img src="./img/_/buy01.jpg"></div>
                        <div class="ab-list">
                            <ul>
                                <li><img src="./img/_/buy001.jpg"></li>
                                <li><img src="./img/_/buy002.jpg"></li>
                                <li><img src="./img/_/buy002.jpg"></li>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class=" operate">
                        <a href="#" class="point"><i class="sui-icon icon-tb-like"></i> Follow 7</a>
                        <a href="#" class="zan"><i class="sui-icon icon-tb-appreciatefill"></i> Like 9</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
        </div>
        <!-- Bottom column -->
        <!--Bottom of the page-->
        <div class="clearfix footer">
            <div class="py-container">
                <div class="footlink">
                    <div class="clearfix Mod-list">
                        <div class="yui3-g">
                            <div class="yui3-u-1-6">
                                <h4>Shopping Guide</h4>
                                <ul class="unstyled">
                                    <li>Shopping process</li>
                                    <li>Member Introduction</li>
                                    <li>Life travel/group purchase</li>
                                    <li>Frequently asked questions</li>
                                    <li>Shopping guide</li>
                                </ul>

                            </div>
                            <div class="yui3-u-1-6">
                                <h4>Delivery method</h4>
                                <ul class="unstyled">
                                    <li>Home pick up</li>
                                    <li>211 Limited Time Up</li>
                                    <li>Distribution service inquiry</li>
                                    <li>Delivery fee charging standard</li>
                                    <li>Overseas delivery</li>
                                </ul>
                            </div>
                            <div class="yui3-u-1-6">
                                <h4>Payment method</h4>
                                <ul class="unstyled">
                                    <li>Cash on delivery</li>
                                    <li>Online payment</li>
                                    <li>Instalment payment</li>
                                    <li>Post office remittance</li>
                                    <li>Company transfer</li>
                                </ul>
                            </div>
                            <div class="yui3-u-1-6">
                                <h4>After-sales service</h4>
                                <ul class="unstyled">
                                    <li>After-sales policy</li>
                                    <li>Price protection</li>
                                    <li>Refund instructions</li>
                                    <li>Repair/return/exchange</li>
                                    <li>Cancel order</li>
                                </ul>
                            </div>
                            <div class="yui3-u-1-6">
                                <h4>Special Services</h4>
                                <ul class="unstyled">
                                    <li>Treasure Island</li>
                                    <li>DIY installation</li>
                                    <li>Extended Warranty Service</li>
                                    <li>Shangpinhui E Card</li>
                                    <li>Shangpinhui Communication</li>
                                </ul>
                            </div>
                            <div class="yui3-u-1-6">
                                <h4>Help Center</h4>
                                <img src="./img/wx_cz.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="Mod-copyright">
                        <ul class="helpLink">
                            <li>About us<span class="space"></span></li>
                            <li>Contact us<span class="space"></span></li>
                            <li>About us<span class="space"></span></li>
                            <li>Businesses settled in<span class="space"></span></li>
                            <li>Marketing Center<span class="space"></span></li>
                            <li>Friendly link<span class="space"></span></li>
                            <li>About us<span class="space"></span></li>
                            <li>Marketing Center<span class="space"></span></li>
                            <li>Friendly link<span class="space"></span></li>
                            <li>About us</li>
                        </ul>
                        <p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
                        <p>Beijing ICP No. 19006430</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Bottom of the pageEND-->
        <!--The bottom of the pageEND-->
        <script type="text/javascript" src="./js/plugins/jquery/jquery.min.js"></script>
</body>

</html>
