<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Shangpinhui My Shopping Cart</title>
    <link rel="icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-cart.css" />

    <div th:include="common/head :: head"></div>
</head>

<body>
<!--head-->
<!-- Header field -->
<!--Top of the page-->
<div th:include="common/header :: header"></div>


<div class="cart py-container">
    <!--All goods-->
    <div class="allgoods" id="itemArray">
        <h4>All products<span></span></h4>
        <div class="cart-main">
            <div class="yui3-g cart-th">
                <div class="yui3-u-1-4"><input class="chooseAll" type="checkbox" name="" id="" value="" /> All</div>
                <div class="yui3-u-1-4">Products</div>
                <div class="yui3-u-1-8">Unit price (yuan)</div>
                <div class="yui3-u-1-8">Quantity</div>
                <div class="yui3-u-1-8">Subtotal (yuan)</div>
                <div class="yui3-u-1-8">Operation</div>
            </div>
            <div class="cart-item-list">
                <div class="cart-body">
                    <div class="cart-list" v-for="item in data" :key="item.id">
                        <ul class="goods-list yui3-g">
                            <li class="yui3-u-1-24">
                                <input type="checkbox" v-model="item.isChecked" @click="checkCart(item)" name="chk_list"/>
                            </li>
                            <li class="yui3-u-6-24">
                                <div class="good-item">
                                    <div class="item-img"><img :src="item.imgUrl"/></div>
                                    <div class="item-msg">{{ item.skuName }}</div>
                                </div>
                            </li>
                            <li class="yui3-u-5-24">
                                <div class="item-txt"></div>
                            </li>
                            <li class="yui3-u-1-8"><span class="price">{{ item.skuPrice }}</span></li>
                            <li class="yui3-u-1-8">
                                <a href="javascript:void(0)" class="increment mins" @click="down(item)">-</a>
                                <input :value="item.skuNum" minnum="1" class="itxt" />
                                <a href="javascript:void(0)" class="increment plus" @click="add(item)">+</a>
                            </li>
                            <li class="yui3-u-1-8"><span class="sum" >{{ item.skuPrice * item.skuNum }}</span></li>
                            <li class="yui3-u-1-8">
                                <a href="javascript:void(0)" @click="deleteCart(item.skuId)">Delete</a><br />
                                <a href="#none">Move to favorites</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="cart-tool">
            <div class="select-all">
                <input class="chooseAll" type="checkbox" name="" value="" />
                <span>Select all</span>
            </div>
            <div class="option">
                <a href="/cart/deleteChecked">Delete selected products</a>
                <a href="/cart/collectChecked">Move to my collection</a>
                <a href="#none">Clear items from the cabinet</a>
            </div>
            <div class="money-box">
                <div class="chosed">Selected <span >{{count}}</span> items</div>
                <div class="sumprice">
                    <span><em>Total price (excluding freight):</em><i class="summoney">{{total}}</i></span>
                    <span><em>Saved:</em><i></i></span>
                </div>
                <div class="sumbtn">
                    <a class="sum-btn" href="javascript:" @click="trade()">Checkout</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="liked">
            <ul class="sui-nav nav-tabs">
                <li class="active">
                    <a href="#index" data-toggle="tab">Guess you like it</a>
                </li>
                <li>
                    <a href="#profile" data-toggle="tab">Special redemption</a>
                </li>
            </ul>
            <div class="clearfix"></div>
            <div class="tab-content">
                <div id="index" class="tab-pane active">
                    <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul>
                                    <li>
                                        <img src="/img/like1.png" />
                                        <div class="intro">
                                            <i>Apple iPhone 6s (A1699)</i>
                                        </div>
                                        <div class="money">
                                            <span>$29.00</span>
                                        </div>
                                        <div class="incar">
                                            <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">Add to cart</span ></a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="/img/like2.png" />
                                        <div class="intro">
                                            <i>Apple iPhone 6s (A1699)</i>
                                        </div>
                                        <div class="money">
                                            <span>$29.00</span>
                                        </div>
                                        <div class="incar">
                                            <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">Add to cart</span ></a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="/img/like3.png" />
                                        <div class="intro">
                                            <i>Apple iPhone 6s (A1699)</i>
                                        </div>
                                        <div class="money">
                                            <span>$29.00</span>
                                        </div>
                                        <div class="incar">
                                            <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">Add to cart</span ></a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="/img/like4.png" />
                                        <div class="intro">
                                            <i>Apple iPhone 6s (A1699)</i>
                                        </div>
                                        <div class="money">
                                            <span>$29.00</span>
                                        </div>
                                        <div class="incar">
                                            <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">Add to cart</span ></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li>
                                        <img src="/img/like1.png" />
                                        <div class="intro">
                                            <i>Apple iPhone 6s (A1699)</i>
                                        </div>
                                        <div class="money">
                                            <span>$29.00</span>
                                        </div>
                                        <div class="incar">
                                            <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">Add to cart</span ></a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="/img/like2.png" />
                                        <div class="intro">
                                            <i>Apple iPhone 6s (A1699)</i>
                                        </div>
                                        <div class="money">
                                            <span>$29.00</span>
                                        </div>
                                        <div class="incar">
                                            <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">Add to cart</span ></a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="/img/like3.png" />
                                        <div class="intro">
                                            <i>Apple iPhone 6s (A1699)</i>
                                        </div>
                                        <div class="money">
                                            <span>$29.00</span>
                                        </div>
                                        <div class="incar">
                                            <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">Add to cart</span ></a>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="/img/like4.png" />
                                        <div class="intro">
                                            <i>Apple iPhone 6s (A1699)</i>
                                        </div>
                                        <div class="money">
                                            <span>$29.00</span>
                                        </div>
                                        <div class="incar">
                                            <a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">Add to cart</span ></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a>
                        <a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
                    </div>
                </div>
                <div id="profile" class="tab-pane">
                    <p>Special purchase</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bottom column -->
<!--Bottom of the page-->
<div class="clearfix footer">
    <div class="py-container">
        <div class="footlink">
            <div class="clearfix Mod-list">
                <div class="yui3-g">
                    <div class="yui3-u-1-6">
                        <h4>Shopping Guide</h4>
                        <ul class="unstyled">
                            <li>Shopping process</li>
                            <li>Member Introduction</li>
                            <li>Life travel/group purchase</li>
                            <li>Frequently asked questions</li>
                            <li>Shopping guide</li>
                        </ul>

                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Delivery method</h4>
                        <ul class="unstyled">
                            <li>Home pick up</li>
                            <li>211 Limited Time Up</li>
                            <li>Distribution service inquiry</li>
                            <li>Delivery fee charging standard</li>
                            <li>Overseas delivery</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Payment method</h4>
                        <ul class="unstyled">
                            <li>Cash on delivery</li>
                            <li>Online payment</li>
                            <li>Instalment payment</li>
                            <li>Post office remittance</li>
                            <li>Company transfer</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>After-sales service</h4>
                        <ul class="unstyled">
                            <li>After-sales policy</li>
                            <li>Price protection</li>
                            <li>Refund instructions</li>
                            <li>Repair/return/exchange</li>
                            <li>Cancel order</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Special Services</h4>
                        <ul class="unstyled">
                            <li>Treasure Island</li>
                            <li>DIY installation</li>
                            <li>Extended Warranty Service</li>
                            <li>Shangpinhui E Card</li>
                            <li>Shangpinhui Communication</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Help Center</h4>
                        <img src="./img/wx_cz.jpg">
                    </div>
                </div>
            </div>
            <div class="Mod-copyright">
                <ul class="helpLink">
                    <li>About us<span class="space"></span></li>
                    <li>Contact us<span class="space"></span></li>
                    <li>About us<span class="space"></span></li>
                    <li>Businesses settled in<span class="space"></span></li>
                    <li>Marketing Center<span class="space"></span></li>
                    <li>Friendly link<span class="space"></span></li>
                    <li>About us<span class="space"></span></li>
                    <li>Marketing Center<span class="space"></span></li>
                    <li>Friendly link<span class="space"></span></li>
                    <li>About us</li>
                </ul>
                <p>Address: 6th Floor, Comprehensive Building, Hongfu Science Park, Changping District, Beijing</p>
                <p>Beijing ICP No. 19006430</p>
            </div>
        </div>
    </div>
</div>
<!--Bottom of the pageEND-->
<script src="/js/api/cart.js"></script>
<script th:inline="javascript">
    var item = new Vue({
        el: '#itemArray',

        data: {
            data: {},
            count: 0,
            total: 0
        },

        created() {
            this.init()
        },

        methods: {
            init() {
                cart.cartList().then(response => {
                    // debugger
                    this.data = response.data.data

                    this.compute()
                })
            },

            // 计算
            compute() {
                if(this.data == null) return
                // debugger
                this.count = 0
                this.total = 0
                for(var i=0; i<this.data.length; i++) {
                    this.total += this.data[i].skuPrice * this.data[i].skuNum
                    if (this.data[i].isChecked == 1) {
                        this.count += 1
                    }
                }
            },

            addToCart(skuId, skuNum=1) {
                cart.addToCart(skuId, skuNum).then(response => {
                    this.init()
                })
            },

            add(item) {
                this.addToCart(item.skuId, 1)
            },

            down(item) {
                if(item.skuNum > 1) {
                    this.addToCart(item.skuId, -1)
                }
            },

            checkCart(item) {
                var isChecked = item.isChecked
                if (isChecked == 1) {
                    isChecked = 0
                } else {
                    isChecked = 1
                }
                cart.checkCart(item.skuId, isChecked).then(response => {
                    this.compute()
                })
            },

            deleteCart(skuId) {
                // debugger
                cart.deleteCart(skuId).then(response => {
                    console.log('Delete successfully')
                    this.init()
                })
            },

            trade() {
                debugger
                if(!auth.isLogin()) {
                    window.location.href ='http://www.gmall.com/login.html?originUrl='+window.location.href
                    return
                }

                var isChecked = 0
                for(var i=0; i<this.data.length; i++) {
                    if (this.data[i].isChecked == 1) {
                        isChecked = 1
                        break
                    }
                }
                if(isChecked == 1) {
                    window.location.href ='http://order.gmall.com/trade.html'
                } else {
                    alert('Please select the purchased product')
                }
            }
        }
    })
</script>

</body>
</html>
